<code class="text-primary"><b><%= name %></b></code>
<small>
<br><%= description %>
<% if(typeof definitions !== 'undefined'){ %><br><span class="text-info">defines</span> <%= definitions %><% } %>
</small>