<code class="text-primary"><b><%= name %></b></code>
<small>
<br><%= description %>
<% if(typeof definitions !== 'undefined'){ %>
    <br><span class="text-info">defines</span> <code><%= definitions %></code>
<% } %>
<% if(typeof definitions_js !== 'undefined'){ %>
    <br><span class="text-info">defines (JS)</span> <code><%= definitions_js %></code>
<% } %>
</small>