<!-- Source: http://www.whatwg.org/specs/web-apps/current-work/multipage/tabular-data.html -->
<table>
	<caption> Apple, Inc's 10-K filing for fiscal year 2008</caption>
	<thead>
		<tr>
			<th></th>
			<th>2008</th>
			<th>2007</th>
			<th>2006</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Gross margin percentage</th>
			<td>34.3%</td>
			<td>34.0%</td>
			<td>29.0%</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<th>Net sales</th>
			<td>$32,479</td>
			<td>$24,006</td>
			<td>$19,315</td>
		</tr>
		<tr>
			<th>Cost of sales</th>
			<td>21,334</td>
			<td>15,852</td>
			<td>13,717</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th>Gross margin</th>
			<td>$11,145</td>
			<td>$8,154</td>
			<td>$5,598</td>
		</tr>
	</tbody>
</table>