<!-- Optional class table.striped to add zebra striping to the table -->
<!-- Optional class table.bordered to add borders -->
<!-- Optional class table.scrollable to create a fixed height, scrollable table with a fixed header -->
<table>
	
	<!-- 0..1 -->
	<caption>{Table Caption Text}</caption>
	
	<!-- 1 -->
	<thead>
		
		<!-- Optional class tr.highlight to visually differentiate row from the other rows -->
		<!-- 1..* -->
		<tr>
		
			<!-- 1..* -->
			<th|td>{Header Cell Content}</th|td>
		
		</tr>
		
	</thead>
	
	<!-- 0..1 -->
	<tfoot>
	
		<!-- Optional class tr.highlight to visually differentiate row from the other rows -->
		<!-- 1..* -->
		<tr>
	
			<!-- 1..* -->
			<th|td>{Footer Cell Content}</th|td>	
			
		</tr>
	
	</tfoot>
	
	<!-- 1..* -->
	<tbody>
	
		<!-- Optional class tr.highlight to visually differentiate row from the other rows -->
		<!-- 1..* -->
		<tr>
	
			<!-- 1..* -->
			<th|td>{Body Cell Content}</th|td>	
			
		</tr>
	
	</tbody>
	
</table>