<!-- Optional class table.striped to add zebra striping to the table -->
<!-- Optional class table.bordered to add borders -->
<!-- Optional class table.condensed to reduce margins and padding within cells -->
<table class="table">
	
	<!-- Optional class caption.top to position at top of table -->
	<!-- Optional class caption.bottom to position at bottom of table -->
	<!-- 0..1 -->
	<caption>{Table Caption Text}</caption>
	
	<!-- 0..* -->
	<colgroup>
	
		<!-- Optional class col.highlight to visually differentiate column from the other columns -->
		<!-- 0..* -->
		<col />
	
	</colgroup>
	
	<!-- 0..1 -->
	<thead>
		
		<!-- Optional class tr.highlight to visually differentiate row from the other rows -->
		<!-- 1..* -->
		<tr>
		
			<!-- 1..* -->
			<th|td>{Header Cell Content}</th|td>
		
		</tr>
		
	</thead>
	
	<!-- 0..1 -->
	<tfoot>
	
		<!-- Optional class tr.highlight to visually differentiate row from the other rows -->
		<!-- 1..* -->
		<tr>
	
			<!-- 1..* -->
			<th|td>{Footer Cell Content}</th|td>	
			
		</tr>
	
	</tfoot>
	
	<!-- 1..* -->
	<tbody>
	
		<!-- Optional class tr.highlight to visually differentiate row from the other rows -->
		<!-- 1..* -->
		<tr>
	
			<!-- 1..* -->
			<th|td>{Body Cell Content}</th|td>	
			
		</tr>
	
	</tbody>
	
</table>