/****************************************************************************
 * Font Settings
 */

$type-font-family:               "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$type-font-size:                 0.93em !default;
$type-font-size-small:           0.85em !default;
$type-font-size-h1:              2.6em !default;
$type-font-size-h2:              2.25em !default;
$type-font-size-h3:              1.7em !default;
$type-font-size-h4:              1.4em !default;
$type-font-size-h5:              1.2em !default;
$type-font-size-h6:              1.05em !default;
$type-font-size-h1-small:        0.6em !default;
$type-font-size-h2-small:        0.65em !default;
$type-font-size-h3-small:        0.7em !default;
$type-font-size-h4-small:        0.8em !default;
$type-font-size-h5-small:        0.9em !default;
$type-font-size-h6-small:        0.9em !default;
$type-line-spacing:              20px !default;
$type-line-height:               1.4 !default;
$type-line-height-heading:       1 !default;