/****************************************************************************
 * Font Settings
 */

$type-font-family:               "Helvetica Neue", Helvetica, Arial, sans-serif;
$type-font-size:                 0.93em;
$type-font-size-small:           0.85em;
$type-font-size-h1:              2.5em;
$type-font-size-h2:              2.2em;
$type-font-size-h3:              1.65em;
$type-font-size-h4:              1.4em;
$type-font-size-h5:              1.2em;
$type-font-size-h6:              1.1em;
$type-font-size-h1-small:        1.5em;
$type-font-size-h2-small:        1.35em;
$type-font-size-h3-small:        1.2em;
$type-font-size-h4-small:        1.1em;
$type-font-size-h5-small:        1.0em;
$type-font-size-h6-small:        0.9em;
$type-line-spacing:              20px;
$type-line-height:               1.4;
$type-line-height-heading:       1;