	
/**************	
Theses are simply helper classes used for dev testing and dev notes
Ignore this section -- Not part of WebBlocks or Bootstrap 
Useful for de-bugging layouts

**************/
.-annotation {color:fuchsia;}	
p.-annotation, ul.-annotation {font-style: italic; margin-top:20px;}

.-test-blocks {
	background-color:pink!important;
	border: 3px dotted black;
	}
	
.-test-blocks2 {
	background-color:yellow!important;
	border: 3px dotted black;
	}
	
.-test-blocks3 {
	background-color:aqua!important;
	border: 3px dotted black;
	}
	
.-test-blocks4 {
	background-color:fuchsia!important;
	border: 3px dotted black;
	}
	
	
.-test-layer1 {
	position:relative;
	z-index:1;
	)
	
.-test-layer2 {
	position:relative;
	z-index:2;
	)
	
.-oh-shim {
	overflow: hidden;
}

.-no-lead {padding:0; margin:0; display: inline;}



