<doctype html>
<!-- Adapted from UCLA Template V 1.0 
     Kept the original markup as it seems fitting for a "static data-set type of gallery" 
     [not an interactive player gallery]
     See this page: https://github.com/ucla/WebBlocks/wiki/UI-Gallery 

-->
<head>
</head>
<body>
<div class="containerBox">
	<ul class="gallery">
		<li>
			<a href="img/sample-gallery/sample-image-01.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-01.jpg" alt="Image Placeholder 1" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-02.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-02.jpg" alt="Image Placeholder 2" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-03.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-03.jpg" alt="Image Placeholder 3" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-04.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-04.jpg" alt="Image Placeholder 4" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-05.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-05.jpg" alt="Image Placeholder 5" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-06.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-06.jpg" alt="Image Placeholder 6" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-07.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-07.jpg" alt="Image Placeholder 7" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-08.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-08.jpg" alt="Image Placeholder 8" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-09.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-09.jpg" alt="Image Placeholder 9" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-10.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-10.jpg" alt="Image Placeholder 10" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-11.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-11.jpg" alt="Image Placeholder 11" /></a>
		</li>
		<li>
			<a href="img/sample-gallery/sample-image-12.jpg" rel="gallery-1">
			<img src="img/sample-gallery/sample-image-thumb-12.jpg" alt="Image Placeholder 12" /></a>
		</li>
	</ul>
	<p class="galleryCaption">Caption Text for Left Floated Gallery</p>
</div>
</body>
</html>