/**************************************************************************** 
 * Breakpoints 
 */

$breakpoint-small:     768px !default;     /* width-based */
$breakpoint-medium:    960px !default;     /* width-based */
$breakpoint-large:     1200px !default;    /* width-based */

/****************************************************************************
 * Structure
 */

$structure-container-gutter:    2% !default;      /* minimum spacing (*percantage*) on either side of container */
$structure-container-width-max: 1024px !default;  /* pixel-based to limit max size (or false) */
$structure-panels:              12 !default;
$structure-panel-gutter:        2.5641% !default;
$structure-panel-width:         ((100% - ($structure-panels - 1) * $structure-panel-gutter)
                                / $structure_panels) !default;

/****************************************************************************
 * Branding Colors
 */

/** Text Colors */

$color-branding-default-foreground-text:            #333 !default;
$color-branding-primary-foreground-text:            #08c !default;
$color-branding-secondary-foreground-text:          #5bc0de !default;
$color-branding-tertiary-foreground-text:           #ddb40a !default;
$color-branding-neutral-foreground-text:            #777 !default;

/** Sharp Background Colors */

$color-branding-default-background-text:            #555 !default;
$color-branding-default-background-text-shadow:     none !default;
$color-branding-default-background:                 darken(#fff, 10%) !default;
$color-branding-default-background-shadow:          #fff !default;
$color-branding-default-border:                     darken(#fff, 40%) !default;

$color-branding-primary-background-text:            #fff !default;
$color-branding-primary-background-text-shadow:     none !default;
$color-branding-primary-background:                 #08c !default;
$color-branding-primary-background-shadow:          darken($color-branding-primary-background, 15%) !default;
$color-branding-primary-border:                     darken(#08c, 60%) !default;

$color-branding-secondary-background-text:          #fff !default;
$color-branding-secondary-background-text-shadow:   0 -1px 0 rgba(0,0,0,.25) !default;
$color-branding-secondary-background:               #5bc0de !default;
$color-branding-secondary-background-shadow:        #2f96b4 !default;
$color-branding-secondary-border:                   darken(#5bc0de, 40%) !default;

$color-branding-tertiary-background-text:           #222 !default;
$color-branding-tertiary-background-text-shadow:    none !default;
$color-branding-tertiary-background:                darken(#ffc40d, 10%)  !default;
$color-branding-tertiary-background-shadow:         #ffc40d !default;
$color-branding-tertiary-border:                    darken(darken(#ffc40d, 10%), 30%) !default;

$color-branding-neutral-background-text:            #eee !default;
$color-branding-neutral-background-text-shadow:     0 -1px 0 rgba(0,0,0,.25) !default;
$color-branding-neutral-background:                 #999 !default;
$color-branding-neutral-background-shadow:          #777 !default;
$color-branding-neutral-border:                     darken(#777, 30%) !default;

/** Light background colors */

$color-branding-default-background-light-text:          #333;
$color-branding-default-background-light-text-shadow:   $color-branding-default-background-text-shadow !default;
$color-branding-default-background-light:               lighten($color-branding-default-background, 35%) !default;
$color-branding-default-background-light-shadow:        lighten($color-branding-default-background-shadow, 35%) !default;
$color-branding-default-light-border:                   darken(lighten($color-branding-default-background, 35%), 30%) !default;

$color-branding-primary-background-light-text:          #1f4b61;
$color-branding-primary-background-light-text-shadow:   $color-branding-primary-background-text-shadow !default;
$color-branding-primary-background-light:               lighten($color-branding-primary-background, 55%) !default;
$color-branding-primary-background-light-shadow:        lighten($color-branding-primary-background-shadow, 55%) !default;
$color-branding-primary-light-border:                   darken(lighten($color-branding-primary-background, 35%), 30%) !default;

$color-branding-secondary-background-light-text:        #4e676e;
$color-branding-secondary-background-light-text-shadow: none !default;
$color-branding-secondary-background-light:             lighten($color-branding-secondary-background, 35%) !default;
$color-branding-secondary-background-light-shadow:      lighten($color-branding-secondary-background-shadow, 35%) !default;
$color-branding-secondary-light-border:                 darken(lighten($color-branding-secondary-background, 35%), 30%) !default;

$color-branding-tertiary-background-light-text:         #6e664d;
$color-branding-tertiary-background-light-text-shadow:  $color-branding-tertiary-background-text-shadow !default;
$color-branding-tertiary-background-light:              lighten($color-branding-tertiary-background, 35%) !default;
$color-branding-tertiary-background-light-shadow:       lighten($color-branding-tertiary-background-shadow, 35%) !default;
$color-branding-tertiary-light-border:                  darken(lighten($color-branding-tertiary-background, 35%), 30%) !default;

$color-branding-neutral-background-light-text:          #333;
$color-branding-neutral-background-light-text-shadow:   none !default;
$color-branding-neutral-background-light:               lighten($color-branding-neutral-background, 35%) !default;
$color-branding-neutral-background-light-shadow:        lighten($color-branding-neutral-background-shadow, 35%) !default;
$color-branding-neutral-light-border:                   darken(lighten($color-branding-neutral-background, 35%), 30%) !default;


/****************************************************************************
 * Mood Colors
 */

/** Text Colors */

$color-mood-info-foreground-text:               #2f96b4 !default;
$color-mood-success-foreground-text:            #419341 !default;
$color-mood-warning-foreground-text:            #f89406 !default;
$color-mood-danger-foreground-text:             #bd362f !default;
$color-mood-inverse-foreground-text:            #ddd !default;
$color-mood-important-foreground-text:          #bd362f !default;
$color-mood-required-foreground-text:           #700 !default;
$color-mood-highlight-foreground-text:          #67DDDD !default;

/** Sharp Background Colors */

$color-mood-info-background-text:               #fff !default;
$color-mood-info-background-text-shadow:        0 -1px 0 rgba(0,0,0,.25) !default;
$color-mood-info-background:                    #5bc0de !default;
$color-mood-info-background-shadow:             #2f96b4 !default;
$color-mood-info-border:                        darken(#5bc0de, 30%) !default;

$color-mood-success-background-text:            #fff !default;
$color-mood-success-background-text-shadow:     0 -1px 0 rgba(0,0,0,.25) !default;
$color-mood-success-background:                 #62c462 !default;
$color-mood-success-background-shadow:          #51a351 !default;
$color-mood-success-border:                     darken(#62c462, 30%) !default;

$color-mood-warning-background-text:            #fff !default;
$color-mood-warning-background-text-shadow:     0 -1px 0 rgba(0,0,0,.25) !default;
$color-mood-warning-background:                 lighten(#f89406, 15%) !default;
$color-mood-warning-background-shadow:          #f89406 !default;
$color-mood-warning-border:                     darken(lighten(#f89406, 15%), 30%) !default;

$color-mood-danger-background-text:             #fff !default;
$color-mood-danger-background-text-shadow:      0 -1px 0 rgba(0,0,0,.25) !default;
$color-mood-danger-background:                  #ee5f5b !default;
$color-mood-danger-background-shadow:           #bd362f !default;
$color-mood-danger-border:                      darken(#ee5f5b, 30%) !default;

$color-mood-inverse-background-text:            #fff !default;
$color-mood-inverse-background-text-shadow:     0 -1px 0 rgba(0,0,0,.25) !default;
$color-mood-inverse-background:                 #444 !default;
$color-mood-inverse-background-shadow:          #222 !default;
$color-mood-inverse-border:                     #666 !default;

/* TODO: define real values */
$color-mood-important-background-text:          $color-mood-danger-background-text !default;
$color-mood-important-background-text-shadow:   0 -1px 0 rgba(0,0,0,.25) !default;
$color-mood-important-background:               $color-mood-danger-background !default;
$color-mood-important-background-shadow:        $color-mood-danger-background-shadow !default;
$color-mood-important-border:                   darken($color-mood-danger-background, 30%) !default;

/* TODO: define real values */
$color-mood-required-background-text:           #a00 !default;
$color-mood-required-background-text-shadow:    none !default;
$color-mood-required-background:                $color-branding-default-background !default;
$color-mood-required-background-shadow:         $color-branding-default-background-shadow !default;
$color-mood-required-border:                    darken(#a00, 30%) !default;

/* TODO: define real values */
$color-mood-highlight-background-text:          #555 !default;
$color-mood-highlight-background-text-shadow:   none !default;
$color-mood-highlight-background:               #BBFFFF !default;
$color-mood-highlight-background-shadow:        #97FFFF !default;
$color-mood-highlight-border:                   darken(#BBFFFF, 30%) !default;

/** Light background colors */

$color-mood-info-background-light-text:               #445e65;
$color-mood-info-background-light-text-shadow:        none !default;
$color-mood-info-background-light:                    lighten($color-mood-info-background, 35%) !default;
$color-mood-info-background-light-shadow:             lighten($color-mood-info-background-shadow, 35%) !default;
$color-mood-info-light-border:                        darken(lighten($color-mood-info-background, 35%), 60%) !default;

$color-mood-success-background-light-text:            #2c3b2c;
$color-mood-success-background-light-text-shadow:     none !default;
$color-mood-success-background-light:                 lighten($color-mood-success-background, 35%) !default;
$color-mood-success-background-light-shadow:          lighten($color-mood-success-background-shadow, 35%) !default;
$color-mood-success-light-border:                     darken(lighten($color-mood-success-background, 35%), 60%) !default;

$color-mood-warning-background-light-text:            #744c14;
$color-mood-warning-background-light-text-shadow:     none !default;
$color-mood-warning-background-light:                 lighten($color-mood-warning-background, 35%) !default;
$color-mood-warning-background-light-shadow:          lighten($color-mood-warning-background-shadow, 35%) !default;
$color-mood-warning-light-border:                     darken(lighten($color-mood-warning-background, 35%), 60%) !default;

$color-mood-danger-background-light-text:             #653533;
$color-mood-danger-background-light-text-shadow:      none !default;
$color-mood-danger-background-light:                  lighten($color-mood-danger-background, 35%) !default;
$color-mood-danger-background-light-shadow:           lighten($color-mood-danger-background-shadow, 35%) !default;
$color-mood-danger-light-border:                      darken(lighten($color-mood-danger-background, 35%), 60%) !default;

$color-mood-inverse-background-light-text:            #fff;
$color-mood-inverse-background-light-text-shadow:     none !default;
$color-mood-inverse-background-light:                 lighten($color-mood-inverse-background, 35%) !default;
$color-mood-inverse-background-light-shadow:          lighten($color-mood-inverse-background-shadow, 35%) !default;
$color-mood-inverse-light-border:                     darken(lighten($color-mood-inverse-background, 35%), 50%) !default;

$color-mood-important-background-light-text:          #653533;
$color-mood-important-background-light-text-shadow:   none !default;
$color-mood-important-background-light:               lighten($color-mood-important-background, 35%) !default;
$color-mood-important-background-light-shadow:        lighten($color-mood-important-background-shadow, 35%) !default;
$color-mood-important-light-border:                   darken(lighten($color-mood-important-background, 35%), 60%) !default;

$color-mood-required-background-light-text:           #a33;
$color-mood-required-background-light-text-shadow:    none !default;
$color-mood-required-background-light:                lighten($color-mood-required-background, 35%) !default;
$color-mood-required-background-light-shadow:         lighten($color-mood-required-background-shadow, 35%) !default;
$color-mood-required-light-border:                    #a00 !default;

$color-mood-highlight-background-light-text:          #333;
$color-mood-highlight-background-light-text-shadow:   none !default;
$color-mood-highlight-background-light:               lighten($color-mood-highlight-background, 15%) !default;
$color-mood-highlight-background-light-shadow:        lighten($color-mood-highlight-background-shadow, 15%) !default;
$color-mood-highlight-light-border:                   darken(#BBFFFF, 50%) !default;
