
/* -------------------- IE ONLY Styles
   Seperate the Overflow and the Gradient to prevent IE Bug Triggers.
   See here:
   http://timmywillison.com/
   https://github.com/twitter/bootstrap/issues/97

   ----------------------------------------------------------------------------- */

.-nav.-bar {
  overflow: visible;
  margin-bottom: 20px;
  color: #777777;
  *position: relative;
  *z-index: 2;
  
/* below styles overwrite previous styles to abstract out in another layer in IE
   http://stackoverflow.com/questions/11333150/twitter-bootstrap-how-to-remove-gradient-mixin-in-subclass */
  min-height: inherit;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  }
   
 .-chrome {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

.-chrome:before, .-chrome:after {
  display: table;
  content: "";
  line-height: 0;
}

.-chrome:after {
  clear: both;
}

.-nav .-linklist > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.-top, .-fixed-top, .-fixed-bottom {width:100vw;}


