<!-- Form 1: Using "a" -->
<!-- Optional class "a.danger" or any other semantic color class -->
<!-- Optional class "a.disabled" to style the button as disabled -->
<!-- Optional class "a.large|small|mini" to control button size -->
<a class="button">{Button Text}</a>

<!-- Form 2: Using "button" -->
<!-- Optional class "button.danger" or any other semantic color class -->
<!-- Optional class "button.disabled" to style the button as disabled -->
<!-- Optional attribute "disabled" to style the button as disabled -->
<!-- Optional class "button.large|small|mini" to control button size -->
<button type="submit|button|reset" class="button">{Button Text}</button>

<!-- Form 3: Using "input" -->
<!-- Optional class "input.danger" or any other semantic color class -->
<!-- Optional class "input.disabled" to style the button as disabled -->
<!-- Optional attribute "disabled" to style the button as disabled -->
<!-- Optional class "input.large|small|mini" to control button size -->
<input type="submit|button|reset" class="button" value="{Button Text}" />