$color-grade-dk: 0% !default;
$color-grade-lt: 0% !default;
$color-background-shadow-light-brightness: 85% !default;
$color-background-light-brightness: 85% !default;
$color-light-border-brightness: 85% !default;