$color-grade-dk: 0% !default;
$color-grade-lt: 0% !default;
$color-background-shadow-light-brightness: 85% !default;
$color-background-light-brightness: 85% !default;
$color-light-border-brightness: 85% !default;
$color-background-shadow-dark-brightness: 15% !default;
$color-background-dark-brightness: 15% !default;
$color-dark-border-brightness: 15% !default;

$form-input-border-color: #ccc !default;
$form-input-boxshadow: none !default;
$form-input-boxshadow-focus: none !default;
$button-boxshadow-hover: none !default;