/**

The following variables may be set in this file to your own custom values
as needed to tweak the presentation of WebBlocks:

    Responsive Settings
    ======================
    $base-breakpoint-small: 768px;      (width-based)
    $base-breakpoint-medium: 978px;     (width-based)
    $max-container-width: 960px;

 */