[submodule "package/modernizr"]
	path = package/modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "package/selectivizr"]
	path = package/selectivizr
	url = https://github.com/keithclark/selectivizr.git
[submodule "package/respond"]
	path = package/respond
	url = https://github.com/scottjehl/Respond.git
[submodule "package/sass-twitter-bootstrap"]
	path = package/sass-twitter-bootstrap
	url = https://github.com/jlong/sass-twitter-bootstrap.git
[submodule "package/efx"]
	path = package/efx
	url = https://github.com/ebollens/efx.git
[submodule "package/lettering"]
	path = package/lettering
	url = https://github.com/davatron5000/Lettering.js.git
[submodule "package/OptiCSS"]
	path = package/OptiCSS
	url = https://github.com/ebollens/OptiCSS.git
[submodule "package/matchMedia"]
	path = package/matchMedia
	url = https://github.com/paulirish/matchMedia.js.git
[submodule "package/picturefill"]
	path = package/picturefill
	url = https://github.com/scottjehl/picturefill.git
[submodule "package/srcset"]
	path = package/srcset
	url = https://github.com/borismus/srcset-polyfill.git
[submodule "package/http-client-hints"]
	path = package/http-client-hints
	url = https://github.com/jonathantneal/http-client-hints.git
