[submodule "package/modernizr"]
	path = package/modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "package/selectivizr"]
	path = package/selectivizr
	url = https://github.com/keithclark/selectivizr.git
[submodule "package/respond"]
	path = package/respond
	url = https://github.com/scottjehl/Respond.git
[submodule "package/sass-twitter-bootstrap"]
	path = package/sass-twitter-bootstrap
	url = https://github.com/jlong/sass-twitter-bootstrap.git
[submodule "package/jquery"]
	path = package/jquery
	url = https://github.com/jquery/jquery.git
[submodule "package/efx"]
	path = package/efx
	url = https://github.com/ebollens/efx.git
