$table-caption-text-color:          #777 !default;
$table-border-color:                #ddd !default;
$table-cell-padding:                8px !default;
$table-condensed-cell-padding:      4px 5px !default;
$table-hover-background-color:      #f5f5f5 !default;
$table-striped-background-color:    #f9f9f9 !default;
$table-bordered-border-radius:      4px !default;