$table-caption-text-color:          -color-select-first-if-light(#666, #999) !default;
$table-border-color:                -color-select-first-if-light(
                                        $color-branding-neutral-light-border,
                                        $color-branding-neutral-dark-border
                                    ) !default;
$table-cell-padding:                8px !default;
$table-condensed-cell-padding:      4px 5px !default;
$table-hover-background-color:      -color-select-first-if-light(
                                        $color-branding-neutral-background-light-shadow,
                                        $color-branding-neutral-background-dark-shadow
                                    ) !default;
$table-striped-background-color:    -color-select-first-if-light(
                                        $color-branding-neutral-background-light,
                                        $color-branding-neutral-background-dark
                                    ) !default;
$table-bordered-border-radius:      4px !default;