@mixin -base-block-float-left {
    float: left;
}

@mixin -base-block-float-right {
    float: right;
}

@mixin -base-block-float-clear {
    clear: both;
}

@mixin -base-block-float-container {
    &:not(.clearfix) {
        overflow: hidden;
    }
}

// from http://nicolasgallagher.com/micro-clearfix-hack/
@mixin -base-block-float-clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}