@mixin -entity-form-control-mood {
    background-image: none;
    background-color: transparent;
    text-shadow: none;
    border-color: transparent;
}

@mixin -entity-form-control-mood-info {
    color: $color-mood-info-foreground-text;
    label {
        color: $color-mood-info-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-info-foreground-text;
    }
}

@mixin -entity-form-control-mood-important {
    color: $color-mood-important-foreground-text;
    label {
        color: $color-mood-important-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-important-foreground-text;
    }
}

@mixin -entity-form-control-mood-success {
    color: $color-mood-success-foreground-text;
    label {
        color: $color-mood-success-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-success-foreground-text;
    }
}

@mixin -entity-form-control-mood-warning {
    color: $color-mood-warning-foreground-text;
    label {
        color: $color-mood-warning-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-warning-foreground-text;
    }
}

@mixin -entity-form-control-mood-danger {
    color: $color-mood-danger-foreground-text;
    label {
        color: $color-mood-danger-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-danger-foreground-text;
    }
}

@mixin -entity-form-control-mood-inverse {
    color: $color-mood-inverse-foreground-text;
    label {
        color: $color-mood-inverse-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-inverse-foreground-text;
    }
}

@mixin -entity-form-control-mood-highlight {
    color: $color-mood-highlight-foreground-text;
    label {
        color: $color-mood-highlight-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-highlight-foreground-text;
    }
}

@mixin -entity-form-control-mood-required {
    color: $color-mood-required-foreground-text;
    label {
        color: $color-mood-required-foreground-text;
    }
    input, select, textarea {
        border-color: $color-mood-required-foreground-text;
    }
}
