@mixin -entity-breadcrumb {
    background: $nav-breadcrumb-background-color;
    -webkit-border-radius: $nav-breadcrumb-border-radius;
    border-radius: $nav-breadcrumb-border-radius;
    list-style: none;
    margin: 0 0 20px;
    padding: 8px 15px;

    > ul, > ol {
        margin: 0;
		padding: 0;
    }
}

@mixin -entity-breadcrumb-item {
    display: inline-block;
    text-shadow: 0 1px 0 $nav-breadcrumb-item-shadow-color;

	> a {
		color: $nav-breadcrumb-item-link-color;
		text-decoration: none;
	}
}

@mixin -entity-breadcrumb-item-active {
	color: $nav-breadcrumb-active-color;
	font-weight: bold;
}

@mixin -entity-breadcrumb-divider {
	color: $nav-breadcrumb-divider-color;
	padding: 0 5px;
}