$nav-list-divider-color: #ccc !default;
$nav-list-item-margin-left: 0px !default;

$nav-tabs-border-bottom-color: #aaa !default;
$nav-tabs-link-spacing-before: 0.5em !default;
$nav-tabs-link-spacing-after: 0 !default;
$nav-tabs-link-padding-Y: 8px !default;
$nav-tabs-link-padding-X: 16px !default;
$nav-tabs-link-border-color: #ccc !default;
$nav-tabs-link-background-color: #fbfbfb !default;
$nav-tabs-link-border-radius: 8px !default;
$nav-tabs-link-active-border-color: #aaa !default;
$nav-tabs-link-active-background-color: #fff !default;
$nav-tabs-link-hover-border-color: #aaa !default;
$nav-tabs-link-hover-background-color: #fff !default;