@import "compass";

@mixin -base-color-mood-background-gradient {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient($color-mood-default-background, 
                                              $color-mood-default-background-shadow));   
}

@mixin -base-color-mood-info-background-gradient {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient($color-mood-info-background, 
                                              $color-mood-info-background-shadow));
}

@mixin -base-color-mood-important-background-gradient {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient($color-mood-important-background, 
                                              $color-mood-important-background-shadow));
}

@mixin -base-color-mood-success-background-gradient {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient($color-mood-success-background, $color-mood-success-background-shadow));
}

@mixin -base-color-mood-warning-background-gradient {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient($color-mood-warning-background, $color-mood-warning-background-shadow));
}

@mixin -base-color-mood-error-background-gradient {
    @include background-image(linear-gradient($color-mood-error-background, $color-mood-error-background-shadow));
}

@mixin -base-color-mood-danger-background-gradient {
    @include background-image(linear-gradient($color-mood-danger-background, $color-mood-danger-background-shadow));
}

@mixin -base-color-mood-inverse-background-gradient {
    @include background-image(linear-gradient($color-mood-inverse-background, $color-mood-inverse-background-shadow));
}

@mixin -base-color-mood-highlight-background-gradient {
    @include background-image(linear-gradient($color-mood-highlight-background, $color-mood-highlight-background-shadow));
}

@mixin -base-color-mood-required-background-gradient {
    @include background-image(linear-gradient($color-mood-required-background, $color-mood-required-background-shadow));
}
