/****************************************************************************
 * Mood Colors
 */

//Theme Recipe Set:
// Same strategy as the Brand Colors in terms of keeping assignments abstracted
// but the approach to color will be different since these colors tend to apply to UI elements and need distinct meanings

// Base Colors:
// these base colors are the basis for building all the other colors

$info-base: #5bc0de !default;
$success-base: #46a546 !default;
$warning-base: #f89406 !default;
$error-base: #9d261d !default;
$danger-base: #9d261d !default;
$important-base: #9d261d !default;
$required-base: #c3325f !default;
$highlight-base: #ffc40d !default;
$inverse-base: #000 !default;

$text-contrast:5%;
$text-contrast-1:15%;
$text-contrast-2:25%;
$text-contrast-3:35%;

/** Text Colors */

$color-mood-info-foreground-text:               saturate($info-base,$text-contrast) !default;
$color-mood-success-foreground-text:            saturate($success-base,$text-contrast) !default;
$color-mood-warning-foreground-text:            saturate($warning-base,$text-contrast) !default;
$color-mood-error-foreground-text:              saturate($error-base,$text-contrast) !default;
$color-mood-danger-foreground-text:             saturate($danger-base,$text-contrast) !default;
$color-mood-important-foreground-text:          saturate($important-base,$text-contrast) !default;
$color-mood-required-foreground-text:           saturate($required-base,$text-contrast) !default;
$color-mood-highlight-foreground-text:          saturate($highlight-base,$text-contrast) !default;
$color-mood-inverse-foreground-text:            darken(invert($inverse-base), $text-contrast) !default;

/** Sharp Background Colors */

$color-mood-info-background-text:               darken($info-base,$text-contrast-2) !default;
$color-mood-info-background-text-shadow:        0 -1px 1px $info-base !default;
$color-mood-info-background:                    lighten($info-base,$grade-lt-1) !default;
$color-mood-info-background-shadow:             lighten($info-base,$grade-lt-2) !default;
$color-mood-info-border:                        lighten($info-base,$grade-lt-3) !default;

$color-mood-success-background-text:            darken($success-base,$text-contrast-2) !default;
$color-mood-success-background-text-shadow:     0 -1px 1px $success-base !default;
$color-mood-success-background:                 lighten($success-base,$grade-lt-1) !default;
$color-mood-success-background-shadow:          lighten($success-base,$grade-lt-2) !default;
$color-mood-success-border:                     lighten($success-base,$grade-lt-3) !default;

$color-mood-warning-background-text:            darken($warning-base,$text-contrast-2) !default;
$color-mood-warning-background-text-shadow:     0 -1px 1px $warning-base !default;
$color-mood-warning-background:                 lighten($warning-base,$grade-lt-1) !default;
$color-mood-warning-background-shadow:          lighten($warning-base,$grade-lt-2) !default;
$color-mood-warning-border:                     lighten($warning-base,$grade-lt-3) !default;

$color-mood-error-background-text:              darken($error-base,$text-contrast-2) !default;
$color-mood-error-background-text-shadow:       0 -1px 1px $error-base !default;
$color-mood-error-background:                   lighten($error-base,$grade-lt-1) !default;
$color-mood-error-background-shadow:            lighten($error-base,$grade-lt-2) !default;
$color-mood-error-border:                       lighten($error-base,$grade-lt-3) !default;

$color-mood-danger-background-text:             saturate($danger-base,$text-contrast-2) !default;
$color-mood-danger-background-text-shadow:      0 -1px 1px $neutral-darker !default;
$color-mood-danger-background:                  $neutral-darker !default;
$color-mood-danger-background-shadow:           $neutral-darkest !default;
$color-mood-danger-border:                      $neutral-darker !default;

$color-mood-important-background-text:          saturate($important-base,$text-contrast-2) !default;
$color-mood-important-background-text-shadow:   0 -1px 1px $neutral-lightest !default;
$color-mood-important-background:               $neutral-lightest !default;
$color-mood-important-background-shadow:        $neutral-lighter !default;
$color-mood-important-border:                   $neutral-light !default;

$color-mood-required-background-text:           saturate($required-base,$text-contrast-2) !default;
$color-mood-required-background-text-shadow:    0 -1px 1px $neutral-lightest !default;
$color-mood-required-background:                $neutral-lightest !default;
$color-mood-required-background-shadow:         $neutral-lighter !default;
$color-mood-required-border:                    $neutral-light !default;

$color-mood-highlight-background-text:          $neutral-dark !default;
$color-mood-highlight-background-text-shadow:   0 -1px 1px darken($highlight-base,$grade-dk-2) !default;
$color-mood-highlight-background:               $highlight-base !default;
$color-mood-highlight-background-shadow:        saturate($highlight-base,$grade-dk-1) !default;
$color-mood-highlight-border:                   saturate($highlight-base,$grade-dk-2) !default;


$color-mood-inverse-background-text:            $neutral-lighter !default;
$color-mood-inverse-background-text-shadow:     0 -1px 0 $neutral-light !default;
$color-mood-inverse-background:                 $neutral-dark !default;
$color-mood-inverse-background-shadow:          $neutral-darker !default;
$color-mood-inverse-border:                     $neutral-darkest !default;

/** Light background colors */

$color-mood-info-background-light-text:               darken($info-base,$text-contrast-1) !default;
$color-mood-info-background-light-text-shadow:        0 -1px 1px lighten($info-base,$grade-lt-1) !default;
$color-mood-info-background-light:                    lighten($info-base,$grade-lt-2) !default;
$color-mood-info-background-light-shadow:             lighten($info-base,$grade-lt-3) !default;
$color-mood-info-light-border:                        lighten($info-base,$grade-lt-1) !default;

$color-mood-success-background-light-text:            darken($success-base,$text-contrast-1) !default;
$color-mood-success-background-light-text-shadow:     0 -1px 1px lighten($success-base,$grade-lt-1) !default;
$color-mood-success-background-light:                 lighten($success-base,$grade-lt-2) !default;
$color-mood-success-background-light-shadow:          lighten($success-base,$grade-lt-3) !default;
$color-mood-success-light-border:                     lighten($success-base,$grade-lt-1) !default;

$color-mood-warning-background-light-text:            darken($warning-base,$text-contrast-1) !default;
$color-mood-warning-background-light-text-shadow:     0 -1px 1px lighten($warning-base,$grade-lt-1) !default;
$color-mood-warning-background-light:                 lighten($warning-base,$grade-lt-2) !default;
$color-mood-warning-background-light-shadow:          lighten($warning-base,$grade-lt-3) !default;
$color-mood-warning-light-border:                     lighten($warning-base,$grade-lt-1) !default;

$color-mood-error-background-light-text:              darken($error-base,$text-contrast-1) !default;
$color-mood-error-background-light-text-shadow:       0 -1px 1px lighten($error-base,$grade-lt-1) !default;
$color-mood-error-background-light:                   lighten($error-base,$grade-lt-2) !default;
$color-mood-error-background-light-shadow:            lighten($error-base,$grade-lt-3) !default;
$color-mood-error-light-border:                       lighten($error-base,$grade-lt-1) !default;

$color-mood-danger-background-light-text:             lighten($danger-base,$text-contrast-1) !default;
$color-mood-danger-background-light-text-shadow:      0 -1px 1px $neutral-default !default;
$color-mood-danger-background-light:                  $neutral-default !default;
$color-mood-danger-background-light-shadow:           $neutral-dark !default;
$color-mood-danger-light-border:                      $neutral-darker !default;

$color-mood-important-background-light-text:          lighten($important-base,$text-contrast-1) !default;
$color-mood-important-background-light-text-shadow:   0 -1px 1px $neutral-lightest !default;
$color-mood-important-background-light:               $neutral-lightest !default;
$color-mood-important-background-light-shadow:        $neutral-lighter !default;
$color-mood-important-light-border:                   $neutral-lighter !default;

$color-mood-required-background-light-text:           lighten($required-base,$text-contrast-1) !default;
$color-mood-required-background-light-text-shadow:    0 -1px 1px $neutral-lightest !default;
$color-mood-required-background-light:                $neutral-lightest !default;
$color-mood-required-background-light-shadow:         $neutral-lighter !default;
$color-mood-required-light-border:                    $neutral-lighter !default;

$color-mood-highlight-background-light-text:          $neutral-dark !default;
$color-mood-highlight-background-light-text-shadow:   0 -1px 1px darken($highlight-base,$grade-dk-1) !default;
$color-mood-highlight-background-light:               lighten($highlight-base,$grade-lt-2) !default;
$color-mood-highlight-background-light-shadow:        lighten($highlight-base,$grade-lt-1) !default;
$color-mood-highlight-light-border:                   saturate($highlight-base,$grade-dk-1) !default;

$color-mood-inverse-background-light-text:            $neutral-lightest !default;
$color-mood-inverse-background-light-text-shadow:     0 -1px 0 $neutral-lighter !default;
$color-mood-inverse-background-light:                 $neutral-default !default;
$color-mood-inverse-background-light-shadow:          $neutral-dark !default;
$color-mood-inverse-light-border:                     $neutral-darker !default;