.default {
    &:not(.text){
        @include -base-color-mood-background;
    }
}

.info {
    &:not(.text){
        @include -base-color-mood-info-background;
    }
}

.important {
    &:not(.text){
        @include -base-color-mood-important-background;
    }
}

.success {
    &:not(.text){
        @include -base-color-mood-success-background;
    }
}

.warning {
    &:not(.text){
        @include -base-color-mood-warning-background;
    }
}

.danger {
    &:not(.text){
        @include -base-color-mood-danger-background;
    }
}

.inverse {
    &:not(.text){
        @include -base-color-mood-inverse-background;
    }
}

.highlight {
    &:not(.text){
        @include -base-color-mood-highlight-background;
    }
}

.required {
    &:not(.text){
        @include -base-color-mood-required-background;
    }
}