<h2>API</h2>

<p>This portion of the WebBlocks documentation details the semantics of WebBlocks. The <strong>Base</strong> and <strong>Entity</strong> sections include modules that come packaged with WebBlocks by default. The <strong>Advanced</strong> section, meanwhile, provides a full list of the modules and classes provided by WebBlocks, as well as the variables that can be set in a custom build of WebBlocks.</p>

<p>Please see the <a href="#Configuration">Configure</a> section for more information about customizing your build, such as building WebBlocks with only certain modules or setting SASS variables to influence the way it is presented.</p>