<h2>WebBlocks Builder</h2>

<p>The WebBlocks Builder walks you through the process of configuring a build of WebBlocks, including compiler directives to specify modules and other components and SASS variables to configure how WebBlocks looks and feels.</p>

<p>Currently, this tool is intended to be used as a generator for your <code>Rakefile-config.rb</code> and <code>variables.scss</code> files; as such, please ensure that your <a href="#Configuration/Environment">Build Environment</a> is configured appropriately, copy the output produced by this tool into <code>Rakefile-config.rb</code> and <code>src/sass/_variables.scss</code>, and then <a href="#Recipe/Integration/Use">run the compile process and get started using WebBlocks</a>.</p>

<br>

<div id="builder-container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" data-target="compilerConfigView">Compiler Settings</a></li>
      <li><a href="#" data-target="sassVariablesView">SASS Variables</a></li>
    </ul>

    <div data-effect="tabs">
        <div id="compilerConfigView" data-tabs="show"></div>
        <div id="sassVariablesView"></div>
    </div>
</div>

<script type="text/javascript">
    var compilerConfigView = new EJS({url: 'component/builder/compiler-config.ejs'});
    $('#compilerConfigView').html(compilerConfigView.render(DOC))
    $('#builder-container > .nav a').click(function(e){
        e.preventDefault()
        $(this).closest('li').addClass('active').siblings().removeClass('active')
    })
    var sassVariablesView = new EJS({url: 'component/builder/sass-variables.ejs'});
    $('#sassVariablesView').html(sassVariablesView.render(DOC))
</script>
