<h2>Configuration</h2>

<p>While WebBlocks may be used as a pre-built set of CSS, Javascript and images, it also includes powerful mechanisms for customization. One may modify everything from colors and the number of panels in the grid all the way down to where WebBlocks sources reside and it's build output is generated.</p>

<p>On the whole, it's configuration options come in three veins:</p>

<ul>
    <li>Adding your own SASS and Javascript sources</li>
    <li>Modifying SASS variables to affect the way entities render</li>
    <li>Setting compiler configuration options to modify the compiler's behavior</li>
</ul>

<p>To get started, make sure you've got your enviromnent set up correctly as described in <a href="#Configuration/Environment">Environment</a>. Going a step further, explore <a href="#Configuration/Compiler">Compiler Tasks</a> to check out different tasks the compiler will perform. Finally, explore the sources, sass variables and compiler sections for more specific details on various configuration mechanisms.</p>