<h2>Core</h2>

<p>This section is intended to give a deeper understanding of how the WebBlocks internals work, as it pertains to the development of modules, packages and adapters, as well as to describe the process by which one may contribute bug reports, features and code back to the WebBlocks project.</p>

<p>The following may be found in this section:</p>

<ul>
    <li><strong><a href="#Core/Architecture/Terminology">Core/Architecture/Terminology</a></strong> defines terminology useful throughout WebBlocks development.</li>
    <li><strong><a href="#Core/Architecture/Build">Core/Architecture/Build</a></strong> describes the internals of the WebBlocks build process</li>
    <li><strong><a href="#Core/Architecture/Module">Core/Architecture/Module</a></strong> describes how modules divide up the WebBlocks semantics</li>
    <li><strong><a href="#Core/Architecture/Package">Core/Architecture/Package</a></strong> describes how third-party packages can be laid into WebBlocks</li>
    <li><strong><a href="#Core/Architecture/Adapter">Core/Architecture/Adapter</a></strong> describes how other frameworks can bind with WebBlocks</li>
    <li><strong><a href="#Core/Architecture/Javascript">Core/Architecture/Javascript</a></strong> describes how to work with Javascript in WebBlocks</li>
    <li><strong><a href="#Core/Contribute/Model">Core/Contribute/Model</a></strong> describes how to contribute bug reports, feature requests and code</li>
    <li><strong><a href="#Core/Contribute/Submit">Core/Contribute/Submit</a></strong> describes how to use Git with the pull request model</li>
</ul>

<p>The best place to start with this documentation is <a href="#Core/Architecture/Terminology">Terminology</a>, as the other sections contained herein expect an understanding of the WebBlocks vocabulary.</p>
