<h2>Core</h2>

<p>This section is under construction. While WebBlocks is in beta, we're still hard at work polishing off the rest of the documentation. Please bear with us.</p>

<p>Currently, two articles are available:</p>

<ul>
    <li><strong><a href="#Core/Architecture/Terminology">Core/Architecture/Terminology</a></strong> defines terminology useful throughout WebBlocks development.</li>
    <li><strong><a href="#Core/Architecture/Build">Core/Architecture/Build</a></strong> describes the internals of the WebBlocks build process</li>
</ul>
