<h2>Welcome</h2>

<p>Out of the box, WebBlocks is a platform for building full-featured, responsive sites with modern web technologies. It leverages existing best-in-breed web tools, defines its semantics based on modern web standards, and includes a large suite of UI elements and Javascript interactivity libraries.</p>

<p>However, WebBlocks is a lot more than just a set of semantics, elements and libraries. At it's core, it is a highly modular toolkit that can be customized to meet business needs, fitted to different development paradigms, and integrated into almost any existing web solution.</p>

<p>This documentation is a comprehensive reference guide to the toolkit, written using WebBlocks.</p>

<h3>Organization</h3>

<p>This documentation is divided into several sections:</p>

<ul>
    <li><strong><a href="#API">API</a></strong> provides a list of all modules in WebBlocks and demos on how to use them.</li>
    <li><strong><a href="#Configuration">Configure</a></strong> describes mechanisms for building a customized version of the WebBlocks toolkit.</li>
    <li><strong><a href="#Recipe">Recipes</a></strong> showcase a number of useful patterns that may be employed using WebBlocks.</li>
    <li><strong><a href="#Core">Core</a></strong> explains how to add onto WebBlocks and contribute to the project.</li>
</ul>
    
<div class="message info"><strong>TIP</strong> When looking at demos in this documentation, resize the screen to  explore how the element responds.</div>

<div class="row medium-collapse">

    <div class="panel-8">

        <h3>The WebBlocks Strategy</h3>

        <ol>
            <li>The modern web is full of powerful technologies. However, they're not necessarily integrated in any reasonable sort of way, and web designers are thus left to fend for themselves. Rather than reinvent, WebBlocks assembles these tools for <strong class="text-primary">a powerful responsive web toolkit straight out of the box</strong>.</li>
            <li>UI frameworks (Bootstrap, HTML 5 Boilerplate, Foundation, etc.) each provide a markup standard. Rather than directly extending one, however, WebBlocks makes it possible to <strong class="text-primary">integrate with any UI framework</strong> through the use of adapters, defining its own semantic markup structure that applies to all.</li>
            <li>WebBlocks <strong class="text-primary">stylesheets are defined with SASS and Compass</strong>. SASS is a precompiler for CSS and Compass is an extremely useful set of SASS utility functions. This makes it very easy to build large-scale CSS in a manageable way.</li>
            <li>WebBlocks is built through a <strong class="text-primary">highly modular and configurable architecture</strong>, meaning that it can be configured to include only exactly what a particular user desires. This reduces the size of the build in the event that not all of its modules and packages are needed.</li>
            <li>WebBlocks is built using Ruby and Node.js packages. However, as it produces static web assets (CSS, JS, images, etc.), it can be deployed in any environment, making it truly <strong class="text-primary">platform independent for deployment</strong>.</li>
            <li>WebBlocks looks at <strong class="text-primary">federation as first-class citizens</strong>. An organization can fork WebBlocks, add its own extensions and then redistribute it to units and other organizations that may do the same or deploy it as is.</li>
            <li>WebBlocks is highly configurable, making it possible to <strong class="text-primary">integrate it into any existing build cycle</strong>.</li>
        </ol>

    </div>
    
    <div class="panel-4">

        <h3>Getting Involved</h3>
        
        <p>WebBlocks is an open-source collaborative project supported by the University of California, the Mobile Web Framework community, and others.</p>

        <p>If you want to just listen in:</p>

        <ul>
            <li><strong class="text-primary">Subscribe</strong> to the <a href="http://lists.ucla.edu/cgi-bin/mailman/listinfo/webblocks" target="_blank">mailing list</a>.</li>
            <li><strong class="text-primary">Star</strong> the <a href="https://github.com/ucla/WebBlocks" target="_blank">GitHub repository</a>.</li>
            <li><strong class="text-primary">Read up</strong> on <a href="https://github.com/ucla/WebBlocks/wiki/Meeting-Agendas-%26-Notes" target="_blank">past meetings notes</a> and call in for future ones.</li>
            <li><strong class="text-primary">Discuss</strong> in our IRC channel <code>WebBlocks</code> on <code>irc.freenode.net</code> (<a href="https://webchat.freenode.net" target="_blank">click here for WebChat</a>).</li>
        </ul>

        <p>If you want to get involved developing:</p>

        <ul>
            <li>Subscribe to mailing list and GitHub <span class="text-neutral">(see above)</span></li>
            <li>Call into the biweekly meetings <span class="text-neutral">(see above)</span></li>
            <li>Jump in on the discussion in the <a href="https://github.com/ucla/WebBlocks/issues" target="_blank">issue tracker</a></li>
            <li>Submit a pull request for a feature or bug fix</li>
        </ul>

    </div>
    
</div>
