<!-- 0..* -->
<* class="float-left"></*>

<!-- 0..* -->
<* class="float-right"></*>

<!-- 0..* -->
<* class="float-clear"></*>

<!-- 0..* -->
<* class="float-container|clearfix">
    
    <!-- 0..* -->
    <* class="float-left"></*>
    
    <!-- 0..* -->
    <* class="float-right"></*>
    
    <!-- 0..* -->
    <* class="float-clear"></*>
    
    <!-- 0..* -->
    <*></*>
    
</*>

<!-- 0..* -->
<* class="float-container clearfix">
    
    <!-- 0..* -->
    <* class="float-left"></*>
    
    <!-- 0..* -->
    <* class="float-right"></*>
    
    <!-- 0..* -->
    <* class="float-clear"></*>
    
    <!-- 0..* -->
    <*></*>
    
</*>
