<h2>Badge</h2>

<p>This library includes modules related to the badge user element:</p>

<ul class="modules">
    <li><%= DOC.modules.render('Entity/Badge') %></li>
</ul>

<h3>Basic Example</h3>

<p>A badge is generally defined on a span element. However, it may be defined on any inline element based on semantic purpose:</p>

<pre class="prettyprint">&lt;span class="badge"&gt;&lt;!-- Badge Text --&gt;&lt;/span&gt;</pre>
<p><span class="badge">Badge Text</span></p>

<h3>Colored Badges</h3>

<p>The <code>.badge</code> class supports the <a href="#API/Base/Color">Base/Color</a> modules.</p>

<h5>Branded Badges</h5>

<pre class="prettyprint">&lt;a class="badge primary"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge primary">Primary Badge</span></p>

<pre class="prettyprint">&lt;a class="badge secondary"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge secondary">Secondary Badge</span></p>

<pre class="prettyprint">&lt;a class="badge tertiary"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge tertiary">Tertiary Badge</span></p>

<pre class="prettyprint">&lt;a class="badge neutral"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge neutral">Neutral Badge</span></p>

<h5>Mood Badges</h5>

<pre class="prettyprint">&lt;a class="badge info"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge info">Info Badge</span></p>

<pre class="prettyprint">&lt;a class="badge success"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge success">Success Badge</span></p>

<pre class="prettyprint">&lt;a class="badge warning"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge warning">Warning Badge</span></p>

<pre class="prettyprint">&lt;a class="badge error"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge error">Error Badge</span></p>

<pre class="prettyprint">&lt;a class="badge danger"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge danger">Danger Badge</span></p>

<pre class="prettyprint">&lt;a class="badge important"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge important">Important Badge</span></p>

<pre class="prettyprint">&lt;a class="badge inverse"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge inverse">Inverse Badge</span></p>

<pre class="prettyprint">&lt;a class="badge required"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge required">Required Badge</span></p>

<pre class="prettyprint">&lt;a class="badge highlight"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge highlight">Highlight Badge</span></p>

<h3>Alternate Badge Styles</h3>

<p>In addition to the conventional rounded corners applied to a badge, this module also includes a <code>.round</code> class that defines a pill-shaped badge and a <code>.square</code> class that defines a square badge.</p>

<pre class="prettyprint">&lt;a class="badge round"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge round primary">Round Badge</span></p>

<pre class="prettyprint">&lt;a class="badge highlight"&gt;&lt;!-- Badge Text --&gt;&lt;/a&gt;</pre>
<p><span class="badge square secondary">Square Badge</span></p>
