<h2>Form</h2>

<p>This library includes modules related to the form user interface element:</p>

<ul class="modules">
    <li><%= DOC.modules.render('Entity/Form') %></li>
</ul>

<p><span class="badge warning">WARNING</span> Examples here do not include all attributes that should be assigned to form controls, but rather only those to showcase the module. Attributes like <code>name</code>, <code>value</code>, etc. of course should also be included in real-world cases.</p>

<h3>Basic Form</h3>

<p>A basic form requires two components:</p>

<ul>
    <li><code>.form</code> class applied to the <code>form</code> element</li>
    <li>Each label/input group wrapped in a <code>div.control</code></li>
</ul>

<pre class="prettyprint">&lt;form class="form"&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-1-1"&gt;Label 1&lt;/label&gt;
        &lt;input id="i-1-1"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-1-2"&gt;Label 1&lt;/label&gt;
        &lt;textarea id="i-1-2"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-1-3"&gt;Label 3&lt;/label&gt;
        &lt;select id="i-1-3"&gt;
            &lt;option&gt;Select Option 1&lt;/option&gt;
            &lt;option&gt;Select Option 2&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form">
    <div class="control">
        <label for="i-1-1">Label 1</label>
        <input type="text" id="i-1-1">
    </div>
    <div class="control">
        <label for="i-1-2">Label 2</label>
        <textarea id="i-1-2"></textarea>
    </div>
    <div class="control">
        <label for="i-1-3">Label 3</label>
        <select id="i-1-3">
            <option>Select Option 1</option>
            <option>Select Option 2</option>
        </select>
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<h4>Help Text</h4>

<p>Any form control may include help text. If this help text is wrapped in a <code>p</code> tag, it will be displayed above/below the form input (depending), whereas if it simply follows the input such as in a <code>span</code> tag, then it will be display inline. It should be noted that this leverages the <code>aria-describedby</code> tag on the form control to reference the help text.</p>

<pre class="prettyprint">&lt;form class="form"&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-2-1"&gt;Label 1&lt;/label&gt;
        &lt;p id="i-2-1-h"&gt;Help text above control&lt;/p&gt;
        &lt;input id="i-2-1" aria-describedby="i-2-1-h"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-2-2"&gt;Label 2&lt;/label&gt;
        &lt;textarea id="i-2-2" aria-describedby="i-2-2-h"&gt;&lt;/textarea&gt;
        &lt;span id="i-2-2-h"&gt;help text inline with control&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-2-3"&gt;Label 3&lt;/label&gt;
        &lt;select id="i-2-3" aria-describedby="i-2-3-h"&gt;
            &lt;option&gt;Select Option 1&lt;/option&gt;
            &lt;option&gt;Select Option 2&lt;/option&gt;
        &lt;/select&gt;
        &lt;p id="i-2-3-h"&gt;Help text below control&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form">
    <div class="control">
        <label for="i-2-1">Label 1</label>
        <p id="i-2-1-h">Help text above control</p>
        <input type="text" id="i-2-1" aria-describedby="i-2-1-h">
    </div>
    <div class="control">
        <label for="i-2-2">Label 2</label>
        <textarea id="i-2-2" aria-describedby="i-2-2-h"></textarea>
        <span id="i-2-2-h">help text inline with control</span>
    </div>
    <div class="control">
        <label for="i-2-3">Label 3</label>
        <select id="i-2-3" aria-describedby="i-2-3-h">
            <option>Select Option 1</option>
            <option>Select Option 2</option>
        </select>
        <p id="i-2-3-h">Help text below control</p>
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<p>The <code>aria-describedby</code> tag can also be a list of <code>id</code> values if more than one set of text describes an input, and this module supports multiple sets of help text on an input. An example using above, inline and below help text is as follows:</p>

<pre class="prettyprint">&lt;form class="form"&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-3-1"&gt;Label 1&lt;/label&gt;
        &lt;p id="i-3-1-h"&gt;Help text above control&lt;/p&gt;
        &lt;input id="i-3-1" aria-describedby="i-3-1-h i-3-1-h2 i-3-1-h3"&gt;
        &lt;span id="i-3-1-h2"&gt;Help text above control&lt;/span&gt;
        &lt;p id="i-3-1-h3"&gt;Help text above control&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form">
    <div class="control">
        <label for="i-3-1">Label 1</label>
        <p id="i-3-1-h">Help text above control</p>
        <input type="text" id="i-3-1" aria-describedby="i-3-1-h i-3-1-h2 i-3-1-h3">
        <span id="i-3-1-h2">Help text above control</span>
        <p id="i-3-1-h3">Help text above control</p>
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<h4>Checkbox and Radio Button Support</h4>

<p>Checkboxes and radio buttons present a challenge in the case of accessibility because they may be labeled by two elements, namely one describing the "set" they belong to and then another describing that particular box. This module thus defines a particular markup style for them:</p>

<pre class="prettyprint">&lt;form class="form"&gt;
    &lt;div class="control"&gt;
        &lt;label id="i-4"&gt;Label&lt;/label&gt;
        &lt;label&gt;
            &lt;input type="checkbox" aria-labelledby="i-4"&gt; 
            description of first checkbox
        &lt;/label&gt;
        &lt;label&gt;
            &lt;input type="checkbox" aria-labelledby="i-4"&gt; 
            description for second checkbox
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form">
    <div class="control">
        <label id="i-4">Label</label>
        <label>
            <input type="checkbox" aria-labelledby="i-4"> 
            first checkbox
        </label>
        <label>
            <input type="checkbox" aria-labelledby="i-4"> 
            second checkbox
        </label>
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<p>In some cases, one may wish to align a set of checkboxes or radio buttons inline rather than one per line. This can be accomplished by wrapping the set of checkboxes or radio buttons in a <code>div.inline</code>:</p>

<pre class="prettyprint">&lt;form class="form"&gt;
    &lt;div class="control"&gt;
        &lt;label id="i-5"&gt;Label&lt;/label&gt;
        &lt;div class="inline"&gt;
            &lt;label&gt;
                &lt;input type="radio" aria-labelledby="i-5"&gt; 
                first radio
            &lt;/label&gt;
            &lt;label&gt;
                &lt;input type="radio" aria-labelledby="i-5"&gt; 
                second radio
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form">
    <div class="control">
        <label id="i-5">Label</label>
        <div class="inline">
            <label>
                <input type="radio" aria-labelledby="i-5"> 
                first radio
            </label>
            <label>
                <input type="radio" aria-labelledby="i-5"> 
                second radio
            </label>
        </div>
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<h4>Input Sizes and Placeholders</h4>

<p>This module provides four size qualifiers: <code>.mini</code>, <code>.small</code>, <code>.large</code> and <code>.full</code>. The sizes of the first three are configurable via SASS variables, whereas the <code>.full</code> class signifies that the input should be full width. This module also provides support for coloring the <code>placeholder</code> attribute.</p>

<pre class="prettyprint">&lt;form class="form"&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-6-1"&gt;Mini&lt;/label&gt;
        &lt;input id="i-6-1" class="mini"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-6-2"&gt;Small&lt;/label&gt;
        &lt;input id="i-6-2" class="small"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-6-3"&gt;Default&lt;/label&gt;
        &lt;input id="i-6-3"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-6-4"&gt;Large&lt;/label&gt;
        &lt;input id="i-6-4" class="large"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-6-5"&gt;Full&lt;/label&gt;
        &lt;input id="i-6-5" class="full"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form">
    <div class="control">
        <label for="i-6-1">Mini</label>
        <input type="text" id="i-6-1" class="mini">
    </div>
    <div class="control">
        <label for="i-6-2">Small</label>
        <input type="text" id="i-6-2" class="small">
    </div>
    <div class="control">
        <label for="i-6-3">Default with Placeholder</label>
        <input type="text" id="i-6-3" placeholder="placeholder">
    </div>
    <div class="control">
        <label for="i-6-4">Large</label>
        <input type="text" id="i-6-4" class="large">
    </div>
    <div class="control">
        <label for="i-6-5">Full</label>
        <input type="text" id="i-6-5" class="full">
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<p>These size classes and the <code>placeholder</code> attribute may be used on <code>input</code> (except for <code>checkbox</code> and <code>radio</code>) and <code>textarea</code> elements.</p>

<h3>Horizontal Form</h3>

<p>This module includes a horizontal variant of the form which aligns labels in one column and form inputs and other related content in a second column.</p>

<p><span class="badge warning">WARNING</span> The <code>label</code> class, if provided, must be the first attribute to be aligned in the left column.</p>

<pre class="prettyprint">&lt;form class="form horizontal"&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-7-1"&gt;Label 1&lt;/label&gt;
        &lt;input id="i-7-1"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-7-2"&gt;Label 1&lt;/label&gt;
        &lt;textarea id="i-7-2"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-7-3"&gt;Label 3&lt;/label&gt;
        &lt;select id="i-7-3"&gt;
            &lt;option&gt;Select Option 1&lt;/option&gt;
            &lt;option&gt;Select Option 2&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form horizontal">
    <div class="control">
        <label for="i-7-1">Label 1</label>
        <input type="text" id="i-7-1">
    </div>
    <div class="control">
        <label for="i-7-2">Label 2</label>
        <textarea id="i-7-2"></textarea>
    </div>
    <div class="control">
        <label for="i-7-3">Label 3</label>
        <select id="i-7-3">
            <option>Select Option 1</option>
            <option>Select Option 2</option>
        </select>
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<h4>Control Validation</h4>
        
<pre class="prettyprint">&lt;form class="form" action="#API/Entity/Form"&gt;
    &lt;div class="form-required-fail message required"&gt;
        All required form fields must be completed
    &lt;/div&gt;
    &lt;div class="control" data-required="true"&gt;
        &lt;label for="i-8-1"&gt;Label&lt;/label&gt;
        &lt;input type="text" id="i-8-1"&gt;
        &lt;span class="required-fail"&gt;This field is required&lt;/span&gt;
        &lt;span class="required-pass text-success"&gt;This field has been filled in as required&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="control" data-required="true"&gt;
        &lt;label id="i-8-2"&gt;Label&lt;/label&gt;
        &lt;input type="text" labeledby='i-8-2' value="default value"&gt;
        &lt;input type="text" labeledby='i-8-2' value="default value"&gt;
        &lt;p class="required-fail"&gt;These fields are both required&lt;/p&gt;
        &lt;p class="required-pass text-success"&gt;These fields are both filled in as required&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-8-1"&gt;Label&lt;/label&gt;
        &lt;input type="text" id="i-8-1"&gt;
        &lt;span&gt;This control is not required&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form></pre>

<form class="form" action="#API/Entity/Form">
    <div class="form-required-fail message required">
        All required form fields must be completed
    </div>
    <div class="control" data-required="true">
        <label for="i-8-1">Label</label>
        <input type="text" id="i-8-1">
        <span class="required-fail">This field is required</span>
        <span class="required-pass text-success">This field has been filled in as required</span>
    </div>
    <div class="control" data-required="true">
        <label id="i-8-2">Label</label>
        <input type="text" labeledby='i-8-2' value="default value">
        <input type="text" labeledby='i-8-2' value="default value">
        <p class="required-fail">These fields are both required</p>
        <p class="required-pass text-success">These fields are both filled in as required</p>
    </div>
    <div class="control">
        <label for="i-8-1">Label</label>
        <input type="text" id="i-8-1">
        <span>This control is not required</span>
    </div>
    <div class="control">
        <input type="submit" class="button">
    </div>
</form>

<h4>Putting It All Together</h4>

<p>The <code>form.form.horizontal</code> supports all of the features supported by <code>form.form</code>, including help text and input sizes. This example is a synthesis of these features:</p>

<pre class="prettyprint">&lt;form class="form horizontal"&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-9-1"&gt;Label 1&lt;/label&gt;
        &lt;input id="i-9-1" aria-describedby="i-9-1-h" class="small"&gt;
        &lt;span id="i-9-1-h"&gt;Help text inline with control&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-9-2"&gt;Label 2&lt;/label&gt;
        &lt;textarea id="i-9-2" aria-describedby="i-9-2-h" class="full"&gt;&lt;/textarea&gt;
        &lt;p id="i-9-2-h"&gt;help text below control&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-9-3"&gt;Label 3&lt;/label&gt;
        &lt;p id="i-9-3-h"&gt;Help text above control&lt;/p&gt;
        &lt;select id="i-9-3" aria-describedby="i-9-3-h"&gt;
            &lt;option&gt;Select Option 1&lt;/option&gt;
            &lt;option&gt;Select Option 2&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-9-4"&gt;Label 4&lt;/label&gt;
        &lt;p id="i-9-4-h"&gt;Help text above control&lt;/p&gt;
        &lt;input id="i-9-4" aria-describedby="i-9-4-h i-9-4-h2 i-9-4-h3"&gt;
        &lt;span id="i-9-4-h2"&gt;Help text above control&lt;/span&gt;
        &lt;p id="i-9-4-h3"&gt;Help text above control&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label for="i-9-5"&gt;Label 5&lt;/label&gt;
        &lt;input id="i-9-5" class="mini"&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label id="i-9-6"&gt;Label 6&lt;/label&gt;
        &lt;label&gt;
            &lt;input type="checkbox" aria-labelledby="i-9-6"&gt; 
            first checkbox
        &lt;/label&gt;
        &lt;label&gt;
            &lt;input type="checkbox" aria-labelledby="i-9-6"&gt; 
            second checkbox
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;label id="i-9-7"&gt;Label&lt;/label&gt;
        &lt;div class="inline"&gt;
            &lt;label&gt;
                &lt;input type="radio" aria-labelledby="i-9-7"&gt; 
                first radio
            &lt;/label&gt;
            &lt;label&gt;
                &lt;input type="radio" aria-labelledby="i-9-7"&gt; 
                second radio
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="control"&gt;
        &lt;p&gt;Text before submit&lt;/p&gt;
        &lt;input type="submit" class="button"&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>

<form class="form horizontal">
    <div class="control">
        <label for="i-9-1">Label 1</label>
        <input type="text" id="i-9-1" aria-describedby="i-9-1-h" class="small">
        <span id="i-9-1-h">Help text inline with control</span>
    </div>
    <div class="control">
        <label for="i-9-2">Label 2</label>
        <textarea id="i-9-2" aria-describedby="i-9-2-h" class="full"></textarea>
        <p id="i-9-2-h">help text below control</p>
    </div>
    <div class="control">
        <label for="i-9-3">Label 3</label>
        <p id="i-9-3-h">Help text above control</p>
        <select id="i-9-3" aria-describedby="i-9-3-h">
            <option>Select Option 1</option>
            <option>Select Option 2</option>
        </select>
    </div>
    <div class="control">
        <label for="i-9-4">Label 4</label>
        <p id="i-9-4-h">Help text above control</p>
        <input type="text" id="i-9-4" aria-describedby="i-9-4-h i-9-4-h2 i-9-4-h3">
        <span id="i-9-4-h2">Help text above control</span>
        <p id="i-9-4-h3">Help text above control</p>
    </div>
    <div class="control">
        <label for="i-9-5">Label 5</label>
        <input type="text" id="i-9-5" class="mini">
    </div>
    <div class="control">
        <label id="i-9-6">Label 6</label>
        <label>
            <input type="checkbox" aria-labelledby="i-9-6"> 
            first checkbox
        </label>
        <label>
            <input type="checkbox" aria-labelledby="i-9-6"> 
            second checkbox
        </label>
    </div>
    <div class="control">
        <label id="i-9-7">Label</label>
        <div class="inline">
            <label>
                <input type="radio" aria-labelledby="i-9-7"> 
                first radio
            </label>
            <label>
                <input type="radio" aria-labelledby="i-9-7"> 
                second radio
            </label>
        </div>
    </div>
    <div class="control">
        <p>Text before submit</p>
        <input type="submit" class="button">
    </div>
</form>

<h3>Configuration</h3>

<ul class="configuration">
    <li><%= DOC.modules.render_variables('Entity/Form').join('</li><li>') %></li>
</ul>