<h2>Message</h2>

<p>This library includes modules related to the message user interface element:</p>

<ul class="modules">
    <li><%= DOC.modules.render('Entity/Message') %></li>
</ul>

<h3>Basic Example</h3>

<p>A message is generally defined on a div element. However, it may be defined on any block-level element based on semantic purpose:</p>

<pre class="prettyprint">&lt;div class="message"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message">Message Text</div>

<h3>Colored Messages</h3>

<p>The <code>.message</code> class supports the <a href="#API/Base/Color">Base/Color</a> modules.</p>

<h5>Branded Messages</h5>

<pre class="prettyprint">&lt;div class="message primary"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message primary">Primary Message</div>

<pre class="prettyprint">&lt;div class="message secondary"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message secondary">Secondary Message</div>

<pre class="prettyprint">&lt;div class="message tertiary"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message tertiary">Tertiary Message</div>

<pre class="prettyprint">&lt;div class="message neutral"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message neutral">Neutral Message</div>

<h5>Mood Messages</h5>

<pre class="prettyprint">&lt;div class="message info"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message info">Info Message</div>

<pre class="prettyprint">&lt;div class="message success"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message success">Success Message</div>

<pre class="prettyprint">&lt;div class="message warning"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message warning">Warning Message</div>

<pre class="prettyprint">&lt;div class="message error"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message error">Error Message</div>

<pre class="prettyprint">&lt;div class="message danger"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message danger">Danger Message</div>

<pre class="prettyprint">&lt;div class="message important"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message important">Important Message</div>

<pre class="prettyprint">&lt;div class="message inverse"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message inverse">Inverse Message</div>

<pre class="prettyprint">&lt;div class="message required"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message required">Required Message</div>

<pre class="prettyprint">&lt;div class="message highlight"&gt;&lt;!-- Message Text --&gt;&lt;/div&gt;</pre>
<div class="message highlight">Highlight Message</div>
