$nav-breadcrumb-background-color:	#F5F5F5 !default;
$nav-breadcrumb-border-radius:		4px !default;
$nav-breadcrumb-item-link-color:	#08C !default;
$nav-breadcrumb-item-shadow-color:	#FFF !default;
$nav-breadcrumb-active-color:		#333 !default;
$nav-breadcrumb-divider-color:		#CCC !default;