@function -color-select-contrast-text($bg, $dark, $light, $threshold){
    @if( ( red($bg)*299 + green($bg)*587 + blue($bg)*114 ) / 1000 >= ($threshold/100%)*255 ) {
        @return $dark;
    } @else {
        @return $light;
    }
}

@function -color-generate-with-lightness($color, $lightness){
    @return hsl(hue($color), saturation($color), $lightness)
}

$color-grade-dk: 10% !default;
$color-grade-lt: 10% !default;

$color-background-light-brightness: 95% !default;
$color-background-shadow-light-brightness: 85% !default;
$color-light-border-brightness: 60% !default;

$color-grade-dk-text: 80% !default;
$color-grade-lt-text: 93% !default;

$color-contrast-threshold: 65% !default;