/****************************************************************************
 * Branding Colors
 */

$ucla-primary: #3399cc;
$ucla-secondary-gold: #ffb300;
$ucla-secondary-yellow: #ffe800;
$ucla-secondary-dkblue: #0055a6;
$ucla-secondary-ltblue: #00a5e5;
$ucla-tertiary-neon-yellow: #ffff00;
$ucla-tertiary-neon-green: #00ff87;
$ucla-tertiary-neon-purple: #8237ff;
$ucla-tertiary-magenta: #ff00a5;
$ucla-tertiary-cyan: #00ffff;

$color-branding-primary: $ucla-primary !default;
$color-branding-secondary: $ucla-secondary-gold !default;
$color-branding-secondary-contrast-threshold: 0% !default;
$color-branding-tertiary: $ucla-tertiary-neon-purple !default;
$color-branding-tertiary-contrast-threshold: 100% !default;
