/****************************************************************************
 * Branding Colors
 */

$ucla-primary: #3399cc;

$ucla-secondary-gold: #ffb300;
$ucla-secondary-yellow: #ffe800;
$ucla-secondary-dkblue: #0055a6;
$ucla-secondary-ltblue: #00a5e5;

$ucla-tertiary-neon-yellow: #ffff00;
$ucla-tertiary-neon-green: #00ff87;
$ucla-tertiary-neon-purple: #8237ff;
$ucla-tertiary-magenta: #ff00a5;
$ucla-tertiary-cyan: #00ffff;
$ucla-tertiary-red: #b73434;

$color-branding-primary: $ucla-primary !default;
$color-branding-secondary: $ucla-secondary-gold !default;
$color-branding-tertiary: $ucla-tertiary-neon-purple !default;

$color-mood-info: $ucla-secondary-ltblue !default;
$color-mood-success: $ucla-tertiary-neon-green !default;
$color-mood-warning: $ucla-secondary-yellow !default;
$color-mood-danger: $ucla-tertiary-red !default;
$color-mood-error: $ucla-tertiary-red !default;
$color-mood-required: $ucla-tertiary-red !default;
$color-mood-important: $ucla-tertiary-magenta !default;
$color-mood-highlight: $ucla-tertiary-magenta !default;
$color-mood-error: #a00 !default;
$color-mood-danger: #a00 !default;