/****************************************************************************
 * Branding Colors
 */

// Brand Set:
// Bring in the UCLA branding colors variables (as demo:from UCLA Brand Guide); set as vars {hex values are abstract and hard for designers to reference}
// This set is only for documentation so other designers know what they are working with
// Abstracting the brand vars from the actual theme palette vars makes it easier to work with different branding guides 
// It would be better if these vars could be dynamically set when a user chooses a school (UCSD/UCSB,etc.) when config WebBlocks
//________________________________________________________________________________________

$ucla-primary: #3399cc; /*UCLA Blue*/
$ucla-secondary-gold: #ffb300;
$ucla-secondary-yellow: #ffe800;
$ucla-secondary-dkblue: #0055a6;
$ucla-secondary-ltblue: #00a5e5;
$ucla-tertiary-neon-yellow: #ffff00;
$ucla-tertiary-neon-green: #00ff87;
$ucla-tertiary-neon-purple: #8237ff;
$ucla-tertiary-magenta: #ff00a5;
$ucla-tertiary-cyan: #00ffff;

//Theme Recipe Set:
// The recipe contains the core base colors and ratios that will be used to produce this
// theme's palette -- it's an extra step in abstraction but this lets other designers
// cleanly make changes to the theme by altering the base values
// This would be better if end-users could select which brand colors they want to map; most brand guides have several Secondary and Tertiary Colors
//________________________________________________________________________________________

// Base colors: 
// Abstract the colors to another set of vars so that a designer can swap color assignments out
// Base colors are the vars used for building all tints/shades for the palette

$primary-base: $ucla-primary;
$secondary-base: $ucla-secondary-gold;
$tertiary-base: $ucla-tertiary-neon-purple;
$accent-base: $ucla-secondary-ltblue;
$neutral-base: #666;
$behavior-base: $ucla-tertiary-neon-purple;
$ui-base:#ccc;
$content-text-base: #000;
$content-background-base: #fff;

//Grade ratios: 
// These vars control how much difference happens between each grade
// This will always be a % value since we're using it as arguments passed to the darken/lighten/desaturate/saturate functions

$grade-dk-1: 10%;
$grade-dk-2: 20%;
$grade-dk-3: 35%;
$grade-dk-4: 55%;

// this looks like duplication but its not; Having explicit vars for each one allows a designer
// to make specific finer-grained tweaks based on what's needed for color contrast instead of a simple even ratio

$grade-lt-1: 10%;
$grade-lt-2: 20%;
$grade-lt-3: 30%;
$grade-lt-4: 40%;

// Theme recipe palette vars:
// Now we build the full palette as SASS Vars (our later assignments to content colors vars will be to these palette vars)
// It would be nice to port some of these palette Vars as their own CSS class so that designers who don't use SASS have them handy as well
// Usually just the branding colors and neutrals are handy to have as CSS
//________________________________________________________________________________________

$primary-darkest: darken($primary-base,$grade-dk-4);
$primary-darker: darken($primary-base,$grade-dk-2);
$primary-dark: darken($primary-base,$grade-dk-1);
$primary-default: $primary-base;
$primary-light: lighten($primary-base,$grade-lt-1);
$primary-lighter: lighten($primary-base,$grade-lt-2);
$primary-lightest: lighten($primary-base,$grade-lt-3);

$secondary-darkest: darken($secondary-base,$grade-dk-4);
$secondary-darker: darken($secondary-base,$grade-dk-2);
$secondary-dark: darken($secondary-base,$grade-dk-1);
$secondary-default: $secondary-base;
$secondary-light: lighten($secondary-base,$grade-lt-1);
$secondary-lighter: lighten($secondary-base,$grade-lt-2);
$secondary-lightest: lighten($secondary-base,$grade-lt-3);

$tertiary-darkest: darken($tertiary-base,$grade-dk-4);
$tertiary-darker: darken($tertiary-base,$grade-dk-2);
$tertiary-dark: darken($tertiary-base,$grade-dk-1);
$tertiary-default: $tertiary-base;
$tertiary-light: lighten($tertiary-base,$grade-lt-1);
$tertiary-lighter: lighten($tertiary-base,$grade-lt-2);
$tertiary-lightest: lighten($tertiary-base,$grade-lt-3);

$ui-darkest: darken($ui-base,$grade-dk-4);
$ui-darker: darken($ui-base,$grade-dk-2);
$ui-dark: darken($ui-base,$grade-dk-1);
$ui-default: $ui-base;
$ui-light: lighten($ui-base,$grade-lt-1);
$ui-lighter: lighten($ui-base,$grade-lt-2);
$ui-lightest: lighten($ui-base,$grade-lt-3);

// Here we're going to simply adopt the Bootstrap grey palette; its a decent neutral palette.
// but another designer could easily just use the same method above with a neutral-base var they set.

$neutral-darkest: #000;
$neutral-darker: #222;
$neutral-dark: #333;
$neutral-default: #555;
$neutral-light: #999;
$neutral-lighter: #eee;
$neutral-lightest: #fff;

/** Text Colors */

$color-branding-default-foreground-text:            $neutral-darkest;
$color-branding-primary-foreground-text:            $primary-dark;
$color-branding-secondary-foreground-text:          $secondary-dark;
$color-branding-tertiary-foreground-text:           $tertiary-dark;
$color-branding-neutral-foreground-text:            $neutral-darkest;

/** Sharp Background Colors */

$color-branding-default-background-text:            $ui-darkest;
$color-branding-default-background-text-shadow:     0 -1px 1px $ui-default;
$color-branding-default-background:                 $ui-lighter;
$color-branding-default-background-shadow:          $ui-light;
$color-branding-default-border:                     $ui-default;

$color-branding-primary-background-text:            $primary-darkest;
$color-branding-primary-background-text-shadow:     0 -1px 1px $primary-default;
$color-branding-primary-background:                 $primary-light;
$color-branding-primary-background-shadow:          $primary-default;
$color-branding-primary-border:                     $primary-dark;

$color-branding-secondary-background-text:          $secondary-darkest;
$color-branding-secondary-background-text-shadow:   0 -1px 1px $secondary-default;
$color-branding-secondary-background:               $secondary-light;
$color-branding-secondary-background-shadow:        $secondary-default;
$color-branding-secondary-border:                   $secondary-dark;

$color-branding-tertiary-background-text:           $tertiary-darkest;
$color-branding-tertiary-background-text-shadow:    0 -1px 1px $tertiary-default;
$color-branding-tertiary-background:                $tertiary-light;
$color-branding-tertiary-background-shadow:         $tertiary-default;
$color-branding-tertiary-border:                    $tertiary-dark;

$color-branding-neutral-background-text:            $neutral-darker;
$color-branding-neutral-background-text-shadow:     none;
$color-branding-neutral-background:                 $neutral-lightest;
$color-branding-neutral-background-shadow:          $neutral-lighter;
$color-branding-neutral-border:                     $neutral-light;

/** Light background colors */

$color-branding-default-background-light-text:          $ui-darkest;
$color-branding-default-background-light-text-shadow:   0 -1px 1px $ui-light;
$color-branding-default-background-light:               $ui-lightest;
$color-branding-default-background-light-shadow:        $ui-lighter;
$color-branding-default-light-border:                   $ui-light;

$color-branding-primary-background-light-text:          $primary-darkest;
$color-branding-primary-background-light-text-shadow:   0 -1px 1px $primary-light;
$color-branding-primary-background-light:               $primary-lightest;
$color-branding-primary-background-light-shadow:        $primary-lighter;
$color-branding-primary-light-border:                   $primary-light;

$color-branding-secondary-background-light-text:        $secondary-darkest;
$color-branding-secondary-background-light-text-shadow: 0 -1px 1px $secondary-light;
$color-branding-secondary-background-light:             $secondary-lightest;
$color-branding-secondary-background-light-shadow:      $secondary-lighter;
$color-branding-secondary-light-border:                 $secondary-light;

$color-branding-tertiary-background-light-text:         $tertiary-darkest;
$color-branding-tertiary-background-light-text-shadow:  0 -1px 1px $tertiary-light;
$color-branding-tertiary-background-light:              $tertiary-lightest;
$color-branding-tertiary-background-light-shadow:       $tertiary-lighter;
$color-branding-tertiary-light-border:                  $tertiary-light;

$color-branding-neutral-background-light-text:          $neutral-dark;
$color-branding-neutral-background-light-text-shadow:   none;
$color-branding-neutral-background-light:               $neutral-lightest;
$color-branding-neutral-background-light-shadow:        $neutral-lighter;
$color-branding-neutral-light-border:                   $neutral-light;

/****************************************************************************
 * Mood Colors
 */

//Theme Recipe Set:
// Same strategy as the Brand Colors in terms of keeping assignments abstracted
// but the approach to color will be different since these colors tend to apply to UI elements and need distinct meanings

// Base Colors:
// these base colors are the basis for building all the other colors

$info-base: #5bc0de;
$success-base: #46a546;
$warning-base: #f89406;
$error-base: #9d261d;
$danger-base: #9d261d;
$important-base: #9d261d;
$required-base: #c3325f;
$highlight-base: #ffc40d;
$inverse-base: #000;

$text-contrast:5%;
$text-contrast-1:15%;
$text-contrast-2:25%;
$text-contrast-3:35%;

/** Text Colors */

$color-mood-info-foreground-text:               saturate($info-base,$text-contrast);
$color-mood-success-foreground-text:            saturate($success-base,$text-contrast);
$color-mood-warning-foreground-text:            saturate($warning-base,$text-contrast);
$color-mood-error-foreground-text:              saturate($error-base,$text-contrast);
$color-mood-danger-foreground-text:             saturate($danger-base,$text-contrast);
$color-mood-important-foreground-text:          saturate($important-base,$text-contrast);
$color-mood-required-foreground-text:           saturate($required-base,$text-contrast);
$color-mood-highlight-foreground-text:          saturate($highlight-base,$text-contrast);
$color-mood-inverse-foreground-text:            darken(invert($inverse-base), $text-contrast);

/** Sharp Background Colors */

$color-mood-info-background-text:               darken($info-base,$text-contrast-2);
$color-mood-info-background-text-shadow:        0 -1px 1px $info-base;
$color-mood-info-background:                    lighten($info-base,$grade-lt-1);
$color-mood-info-background-shadow:             lighten($info-base,$grade-lt-2);
$color-mood-info-border:                        lighten($info-base,$grade-lt-3);

$color-mood-success-background-text:            darken($success-base,$text-contrast-2);
$color-mood-success-background-text-shadow:     0 -1px 1px $success-base;
$color-mood-success-background:                 lighten($success-base,$grade-lt-1);
$color-mood-success-background-shadow:          lighten($success-base,$grade-lt-2);
$color-mood-success-border:                     lighten($success-base,$grade-lt-3);

$color-mood-warning-background-text:            darken($warning-base,$text-contrast-2);
$color-mood-warning-background-text-shadow:     0 -1px 1px $warning-base;
$color-mood-warning-background:                 lighten($warning-base,$grade-lt-1);
$color-mood-warning-background-shadow:          lighten($warning-base,$grade-lt-2);
$color-mood-warning-border:                     lighten($warning-base,$grade-lt-3);

$color-mood-error-background-text:              darken($error-base,$text-contrast-2);
$color-mood-error-background-text-shadow:       0 -1px 1px $error-base;
$color-mood-error-background:                   lighten($error-base,$grade-lt-1);
$color-mood-error-background-shadow:            lighten($error-base,$grade-lt-2);
$color-mood-error-border:                       lighten($error-base,$grade-lt-3);

$color-mood-danger-background-text:             saturate($danger-base,$text-contrast-2);
$color-mood-danger-background-text-shadow:      0 -1px 1px $neutral-darker;
$color-mood-danger-background:                  $neutral-darker;
$color-mood-danger-background-shadow:           $neutral-darkest;
$color-mood-danger-border:                      $neutral-darker;

$color-mood-important-background-text:          saturate($important-base,$text-contrast-2);
$color-mood-important-background-text-shadow:   0 -1px 1px $neutral-lightest;
$color-mood-important-background:               $neutral-lightest;
$color-mood-important-background-shadow:        $neutral-lighter;
$color-mood-important-border:                   $neutral-light;

$color-mood-required-background-text:           saturate($required-base,$text-contrast-2);
$color-mood-required-background-text-shadow:    0 -1px 1px $neutral-lightest;
$color-mood-required-background:                $neutral-lightest;
$color-mood-required-background-shadow:         $neutral-lighter;
$color-mood-required-border:                    $neutral-light;

$color-mood-highlight-background-text:          $neutral-dark;
$color-mood-highlight-background-text-shadow:   none;
$color-mood-highlight-background:               $highlight-base;
$color-mood-highlight-background-shadow:        saturate($highlight-base,$grade-dk-1);
$color-mood-highlight-border:                   saturate($highlight-base,$grade-dk-2);


$color-mood-inverse-background-text:            $neutral-lighter;
$color-mood-inverse-background-text-shadow:     none;
$color-mood-inverse-background:                 $neutral-dark;
$color-mood-inverse-background-shadow:          $neutral-darker;
$color-mood-inverse-border:                     $neutral-darkest;

/** Light background colors */

$color-mood-info-background-light-text:               darken($info-base,$text-contrast-1);
$color-mood-info-background-light-text-shadow:        0 -1px 1px lighten($info-base,$grade-lt-1);
$color-mood-info-background-light:                    lighten($info-base,$grade-lt-2);
$color-mood-info-background-light-shadow:             lighten($info-base,$grade-lt-3);
$color-mood-info-light-border:                        lighten($info-base,$grade-lt-1);

$color-mood-success-background-light-text:            darken($success-base,$text-contrast-1);
$color-mood-success-background-light-text-shadow:     0 -1px 1px lighten($success-base,$grade-lt-1);
$color-mood-success-background-light:                 lighten($success-base,$grade-lt-2);
$color-mood-success-background-light-shadow:          lighten($success-base,$grade-lt-3);
$color-mood-success-light-border:                     lighten($success-base,$grade-lt-1);

$color-mood-warning-background-light-text:            darken($warning-base,$text-contrast-1);
$color-mood-warning-background-light-text-shadow:     0 -1px 1px lighten($warning-base,$grade-lt-1);
$color-mood-warning-background-light:                 lighten($warning-base,$grade-lt-2);
$color-mood-warning-background-light-shadow:          lighten($warning-base,$grade-lt-3);
$color-mood-warning-light-border:                     lighten($warning-base,$grade-lt-1);

$color-mood-error-background-light-text:              darken($error-base,$text-contrast-1);
$color-mood-error-background-light-text-shadow:       0 -1px 1px lighten($error-base,$grade-lt-1);
$color-mood-error-background-light:                   lighten($error-base,$grade-lt-2);
$color-mood-error-background-light-shadow:            lighten($error-base,$grade-lt-3);
$color-mood-error-light-border:                       lighten($error-base,$grade-lt-1);

$color-mood-danger-background-light-text:             lighten($danger-base,$text-contrast-1);
$color-mood-danger-background-light-text-shadow:      0 -1px 1px $neutral-default;
$color-mood-danger-background-light:                  $neutral-default;
$color-mood-danger-background-light-shadow:           $neutral-dark;
$color-mood-danger-light-border:                      $neutral-darker;

$color-mood-important-background-light-text:          lighten($important-base,$text-contrast-1);
$color-mood-important-background-light-text-shadow:   0 -1px 1px $neutral-lightest;
$color-mood-important-background-light:               $neutral-lightest;
$color-mood-important-background-light-shadow:        $neutral-lighter;
$color-mood-important-light-border:                   $neutral-lighter;

$color-mood-required-background-light-text:           lighten($required-base,$text-contrast-1);
$color-mood-required-background-light-text-shadow:    0 -1px 1px $neutral-lightest;
$color-mood-required-background-light:                $neutral-lightest;
$color-mood-required-background-light-shadow:         $neutral-lighter;
$color-mood-required-light-border:                    $neutral-lighter;

$color-mood-highlight-background-light-text:          $neutral-dark;
$color-mood-highlight-background-light-text-shadow:   0 -1px 1px darken($highlight-base,$grade-dk-1);
$color-mood-highlight-background-light:               lighten($highlight-base,$grade-lt-2);
$color-mood-highlight-background-light-shadow:        lighten($highlight-base,$grade-lt-1);
$color-mood-highlight-light-border:                   saturate($highlight-base,$grade-dk-1);

$color-mood-inverse-background-light-text:            $neutral-lightest;
$color-mood-inverse-background-light-text-shadow:     none;
$color-mood-inverse-background-light:                 $neutral-default;
$color-mood-inverse-background-light-shadow:          $neutral-dark;
$color-mood-inverse-light-border:                     $neutral-darker;