@import "compass/css3/border-radius";

@mixin -entity-table {
    
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: $type-line-height;
    
    th,
    td {
        padding: $table-cell-padding;
        line-height: $type-line-height;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
    }
    
    th {
        font-weight: bold;
    }
    
    thead th {
        vertical-align: bottom;
    }
    
    caption + thead tr:first-child th,
    caption + thead tr:first-child td,
    colgroup + thead tr:first-child th,
    colgroup + thead tr:first-child td,
    thead:first-child tr:first-child th,
    thead:first-child tr:first-child td {
        border-top: 0;
    }
    
    tbody + tbody {
        border-top: 2px solid $table-border-color;
    }
}

@mixin -entity-table-hover {
    tbody {
        tr:hover td,
        tr:hover th {
            background-color: $table-hover-background-color;
        }
    }
}

@mixin -entity-table-caption {
    
    color: $table-caption-text-color;
    
    &.top {
        caption-side: top;
    }
    
    &.bottom {
        caption-side: bottom;
    }
    
}

@mixin -entity-table-striped {
    tbody {
        tr:nth-child(odd) td,
        tr:nth-child(odd) th {
            background-color: $table-striped-background-color;
        }
    }
}

@mixin -entity-table-bordered {
    
    border: 1px solid $table-border-color;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    @include border-radius($table-bordered-border-radius);
    
    th,
    td {
        border-left: 1px solid $table-border-color;
    }
    // Prevent a double border
    caption + thead tr:first-child th,
    caption + tbody tr:first-child th,
    caption + tbody tr:first-child td,
    colgroup + thead tr:first-child th,
    colgroup + tbody tr:first-child th,
    colgroup + tbody tr:first-child td,
    thead:first-child tr:first-child th,
    tbody:first-child tr:first-child th,
    tbody:first-child tr:first-child td {
        border-top: 0;
    }
    // For first th or td in the first row in the first thead or tbody
    thead:first-child tr:first-child th:first-child,
    tbody:first-child tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
    }
    thead:first-child tr:first-child th:last-child,
    tbody:first-child tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
    }
    // For first th or td in the first row in the first thead or tbody
    thead:last-child tr:last-child th:first-child,
    tbody:last-child tr:last-child td:first-child,
    tfoot:last-child tr:last-child td:first-child {
    @include border-radius(0 0 0 4px);
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
    }
    thead:last-child tr:last-child th:last-child,
    tbody:last-child tr:last-child td:last-child,
    tfoot:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
    }

    // Special fixes to round the left border on the first td/th
    caption + thead tr:first-child th:first-child,
    caption + tbody tr:first-child td:first-child,
    colgroup + thead tr:first-child th:first-child,
    colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
    }
    caption + thead tr:first-child th:last-child,
    caption + tbody tr:first-child td:last-child,
    colgroup + thead tr:first-child th:last-child,
    colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
         -moz-border-radius-topleft: 4px;
    }
}
    
@mixin -entity-table-condensed {
    th,
    td {
        padding: $table-condensed-cell-padding;
    }
}
