@mixin -entity-form-size-mini {
    width: $form-input-size-mini;
}

@mixin -entity-form-size-small {
    width: $form-input-size-small;
}

@mixin -entity-form-size-large {
    width: $form-input-size-large;
}

@mixin -entity-form-size-full {
    width: 100%;
    margin-right: 0;
}

@mixin -entity-form-sizes {

    &.mini {
        @include -entity-form-size-mini;
    }
    
    &.small {
        @include -entity-form-size-small;
    }
    
    &.large {
        @include -entity-form-size-large;
    } 
    
    &.full {
        @include -entity-form-size-full;
    }
    
}