@mixin -base-visibility-hide-xxsmall {
    
    @media screen and (max-width: $breakpoint-xxsmall) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-xsmall {
    
    @media screen and (max-width: $breakpoint-xsmall) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-small {
    
    @media screen and (max-width: $breakpoint-small) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-medium-small {
    
    @media screen and (max-width: $breakpoint-medium-small) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-medium {
    
    @media screen and (max-width: $breakpoint-medium) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-medium-large {
    
    @media screen and (max-width: $breakpoint-medium-large) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-large {
    
    @media screen and (max-width: $breakpoint-large) {
        display: none;
    }
    
}
