@mixin -base-visibility-hide-small {
    
    @media screen and (max-width: $breakpoint-small - 1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-medium {
    
    @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium - 1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-large {
    
    @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large - 1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-xlarge {
    
    @media screen and (min-width: $breakpoint-large) {
        display: none;
    }
    
}