@mixin -base-visibility-hide-above-xxsmall {
    
    @media (min-width: $breakpoint-xxsmall+1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-above-xsmall {
    
    @media (min-width: $breakpoint-xsmall+1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-above-small {
    
    @media (min-width: $breakpoint-small+1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-above-medium-small {
    
    @media (min-width: $breakpoint-medium-small+1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-above-medium {
    
    @media (min-width: $breakpoint-medium+1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-above-medium-large {
    
    @media (min-width: $breakpoint-medium-large+1) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-above-large {
    
    @media (min-width: $breakpoint-large+1) {
        display: none;
    }
    
}
