@mixin -base-visibility-hide-small {
    
    @media screen and (max-width: $breakpoint-small) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-medium {
    
    @media screen and (min-width: $breakpoint-small+1) and (max-width: $breakpoint-medium) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-large {
    
    @media screen and (min-width: $breakpoint-medium+1) and (max-width: $breakpoint-large) {
        display: none;
    }
    
}

@mixin -base-visibility-hide-xlarge {
    
    @media screen and (min-width: $breakpoint-large+1) {
        display: none;
    }
    
}