@mixin -base-visibility-show-small {
    
    @media screen and (min-width: $breakpoint-small+1) {
        display: none;  
    }
    
}

@mixin -base-visibility-show-medium {
    
    @media screen and (max-width: $breakpoint-small) {
        display: none;  
    }
    
    @media screen and (min-width: $breakpoint-medium+1) {
        display: none;  
    }
    
}

@mixin -base-visibility-show-large {
    
    @media screen and (max-width: $breakpoint-medium) {
        display: none;  
    }

    @media screen and (min-width: $breakpoint-large+1) {
        display: none;  
    }
    
}

@mixin -base-visibility-show-xlarge {
    
    @media screen and (max-width: $breakpoint-large) {
        display: none;  
    }
    
}