@mixin -base-visibility-show-small {
    
    @media screen and (min-width: $base-breakpoint-small) {
        display: none;  
    }
    
}

@mixin -base-visibility-show-medium {
    
    @media screen and (max-width: $base-breakpoint-small - 1) {
        display: none;  
    }
    
    @media screen and (min-width: $base-breakpoint-medium) {
        display: none;  
    }
    
}

@mixin -base-visibility-show-large {
    
    @media screen and (max-width: $base-breakpoint-medium - 1) {
        display: none;  
    }
    
}