@mixin -base-type-align-left-responsive-xxsmall {
    
    @media (max-width: $breakpoint-xxsmall) {
        text-align: left;
    }
    
}

@mixin -base-type-align-left-responsive-xsmall {
    
    @media (max-width: $breakpoint-xsmall) {
        text-align: left;
    }
    
}

@mixin -base-type-align-left-responsive-small {
    
    @media (max-width: $breakpoint-small) {
        text-align: left;
    }
    
}

@mixin -base-type-align-left-responsive-medium-small {
    
    @media (max-width: $breakpoint-medium-small) {
        text-align: left;
    }
    
}

@mixin -base-type-align-left-responsive-medium {
    
    @media (max-width: $breakpoint-medium) {
        text-align: left;
    }
    
}

@mixin -base-type-align-left-responsive-medium-large {
    
    @media (max-width: $breakpoint-medium-large) {
        text-align: left;
    }
    
}

@mixin -base-type-align-left-responsive-large {
    
    @media (max-width: $breakpoint-large) {
        text-align: left;
    }
    
}

@mixin -base-type-align-center-responsive-xxsmall {
    
    @media (max-width: $breakpoint-xxsmall) {
        text-align: center;
    }
    
}

@mixin -base-type-align-center-responsive-xsmall {
    
    @media (max-width: $breakpoint-xsmall) {
        text-align: center;
    }
    
}

@mixin -base-type-align-center-responsive-small {
    
    @media (max-width: $breakpoint-small) {
        text-align: center;
    }
    
}

@mixin -base-type-align-center-responsive-medium-small {
    
    @media (max-width: $breakpoint-medium-small) {
        text-align: center;
    }
    
}

@mixin -base-type-align-center-responsive-medium {
    
    @media (max-width: $breakpoint-medium) {
        text-align: center;
    }
    
}

@mixin -base-type-align-center-responsive-medium-large {
    
    @media (max-width: $breakpoint-medium-large) {
        text-align: center;
    }
    
}

@mixin -base-type-align-center-responsive-large {
    
    @media (max-width: $breakpoint-large) {
        text-align: center;
    }
    
}

@mixin -base-type-align-right-responsive-xxsmall {
    
    @media (max-width: $breakpoint-xxsmall) {
        text-align: right;
    }
    
}

@mixin -base-type-align-right-responsive-xsmall {
    
    @media (max-width: $breakpoint-xsmall) {
        text-align: right;
    }
    
}

@mixin -base-type-align-right-responsive-small {
    
    @media (max-width: $breakpoint-small) {
        text-align: right;
    }
    
}

@mixin -base-type-align-right-responsive-medium-small {
    
    @media (max-width: $breakpoint-medium-small) {
        text-align: right;
    }
    
}

@mixin -base-type-align-right-responsive-medium {
    
    @media (max-width: $breakpoint-medium) {
        text-align: right;
    }
    
}

@mixin -base-type-align-right-responsive-medium-large {
    
    @media (max-width: $breakpoint-medium-large) {
        text-align: right;
    }
    
}

@mixin -base-type-align-right-responsive-large {
    
    @media (max-width: $breakpoint-large) {
        text-align: right;
    }
    
}

@mixin -base-type-align-justify-responsive-xxsmall {
    
    @media (max-width: $breakpoint-xxsmall) {
        text-align: justify;
    }
    
}

@mixin -base-type-align-justify-responsive-xsmall {
    
    @media (max-width: $breakpoint-xsmall) {
        text-align: justify;
    }
    
}

@mixin -base-type-align-justify-responsive-small {
    
    @media (max-width: $breakpoint-small) {
        text-align: justify;
    }
    
}

@mixin -base-type-align-justify-responsive-medium-small {
    
    @media (max-width: $breakpoint-medium-small) {
        text-align: justify;
    }
    
}

@mixin -base-type-align-justify-responsive-medium {
    
    @media (max-width: $breakpoint-medium) {
        text-align: justify;
    }
    
}

@mixin -base-type-align-justify-responsive-medium-large {
    
    @media (max-width: $breakpoint-medium-large) {
        text-align: justify;
    }
    
}

@mixin -base-type-align-justify-responsive-large {
    
    @media (max-width: $breakpoint-large) {
        text-align: justify;
    }
    
}
