<!-- Form 1: Single Blockquote -->
<!-- Optional attribute "cite" -->
<!-- Optional class "blockquote.blockquote.callout" to create a callout-style blockquote -->
<!-- Optional class "blockquote.blockquote.text-right" to align the blockquote contents to the right -->
<blockquote class="blockquote">
	
	{Blockquote Text}
	
	<!-- NOTE: This is NOT the correct way to provide an attribution for a blockquote per the current HTML5 spec.
			This option is provided because of the ease of implementation. If you are providing the attribution of a
			blockquote, use Form 2, provided below -->
	<!-- 0..1 -->
	<cite>
		{Blockquote Attribution}
	</cite>
	
</blockquote>

<!-- Form 2: Blockquote With Attribution -->
<!-- Optional class "figure.blockquote.callout" to create a callout-style blockquote -->
<!-- Optional class "figure.blockquote.text-right" to align the blockquote contents to the right -->
<figure class="blockquote">

	<!-- 1 -->
	<!-- Optional attribute "cite" -->
	<blockquote>
		{Blockquote Text}
	</blockquote>
	
	<!-- 0..1 -->
	<figcaption>
		{Blockquote Attribution}
	</figcaption>
	
</figure>