<!-- Form 1: Single Blockquote -->
<!-- Optional attribute "cite" -->
<!-- Optional class "blockquote.callout" to create a callout-style blockquote -->
<blockquote>
	{Blockquote Text}
</blockquote>

<!-- Form 2: Blockquote With Attribution -->
<!-- Optional class "figure.quote.callout" to create a callout-style blockquote -->
<figure class="quote">

	<!-- 1 -->
	<!-- Optional attribute "cite" -->
	<blockquote>
		{Blockquote Text}
	</blockquote>
	
	<!-- 0..1 -->
	<figcaption>
		{Blockquote Attribution}
	</figcaption>
	
</figure>