code {
    background: none;
    border: none;
    color: #777;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 0.93em;
    max-width: 100%;
    white-space: inherit;
}

pre, pre.prettyprint {
    font-size: 0.85em;
    padding: 5px 10px;
    display: block;
    background-color: #f9f9f9;
    border-color: #ddd;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 16px;
}

.configuration, .modules {
    list-style-type: circle;
}

.configuration li, .modules li {
    margin-bottom: 1em;
}


/* polyfills for a coming feature in WebBlocks */

nav.bar.overflow.active ul.dropdown {
    padding: 0 0 10px 0;
    margin: 0;
}

nav.bar.overflow.active ul.dropdown li a {
    font-weight: bold;
    display: block;
    padding: 6px 0;
    font-size: 1.1em;
    
}

a {
    text-decoration: none;
}