@mixin -base-structure-grid-panel {
    float: left;
    min-height: 1px;
    &.float-right {
        float: right;
    }
    &:not(:first-child) {
        margin-left: $structure-panel-gutter;
    }
}