nav.list {
    @include -entity-nav-list;
}

nav.list h1, nav.list h2, nav.list h3, nav.list h4, nav.list h5, nav.list h6 {
    @include -entity-nav-list-header;
}

nav.list .divider {
    @include -entity-nav-list-divider;
}

nav.list li, nav.list li {
    @include -entity-nav-list-item;
}

nav.list.flyout {
    @include -entity-nav-list-flyout;
}

nav.list.accordion {
    @include -entity-nav-list-accordion;
}
