@mixin -base-block-float-left-responsive-xxsmall {
    
    @media (max-width: $breakpoint-xxsmall) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-xsmall {
    
    @media (max-width: $breakpoint-xsmall) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-small {
    
    @media (max-width: $breakpoint-small) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-medium-small {
    
    @media (max-width: $breakpoint-medium-small) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-medium {
    
    @media (max-width: $breakpoint-medium) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-medium-large {
    
    @media (max-width: $breakpoint-medium-large) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-large {
    
    @media (max-width: $breakpoint-large) {
        float: left;
    }
    
}

@mixin -base-block-float-right-responsive-xxsmall {
    
    @media (max-width: $breakpoint-xxsmall) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-xsmall {
    
    @media (max-width: $breakpoint-xsmall) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-small {
    
    @media (max-width: $breakpoint-small) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-medium-small {
    
    @media (max-width: $breakpoint-medium-small) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-medium {
    
    @media (max-width: $breakpoint-medium) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-medium-large {
    
    @media (max-width: $breakpoint-medium-large) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-large {
    
    @media (max-width: $breakpoint-large) {
        float: right;
    }
    
}
