@mixin -base-block-float-left-responsive-above-xxsmall {
    
    @media (min-width: $breakpoint-xxsmall+1) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-above-xsmall {
    
    @media (min-width: $breakpoint-xsmall+1) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-above-small {
    
    @media (min-width: $breakpoint-small+1) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-above-medium-small {
    
    @media (min-width: $breakpoint-medium-small+1) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-above-medium {
    
    @media (min-width: $breakpoint-medium+1) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-above-medium-large {
    
    @media (min-width: $breakpoint-medium-large+1) {
        float: left;
    }
    
}

@mixin -base-block-float-left-responsive-above-large {
    
    @media (min-width: $breakpoint-large+1) {
        float: left;
    }
    
}

@mixin -base-block-float-right-responsive-above-xxsmall {
    
    @media (min-width: $breakpoint-xxsmall+1) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-above-xsmall {
    
    @media (min-width: $breakpoint-xsmall+1) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-above-small {
    
    @media (min-width: $breakpoint-small+1) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-above-medium-small {
    
    @media (min-width: $breakpoint-medium-small+1) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-above-medium {
    
    @media (min-width: $breakpoint-medium) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-above-medium-large {
    
    @media (min-width: $breakpoint-medium-large+1) {
        float: right;
    }
    
}

@mixin -base-block-float-right-responsive-above-large {
    
    @media (min-width: $breakpoint-large+1) {
        float: right;
    }
    
}
