/****************************************************************************
 * Structure
 */

$structure-container-gutter:    2% !default;      /* minimum spacing (*percantage*) on either side of container */
$structure-container-width-max: 1024px !default;  /* pixel-based to limit max size (or false) */
$structure-panels:              12 !default;
$structure-panel-gutter:        2.5641% !default;
$structure-panel-width:         ((100% - ($structure-panels - 1) * $structure-panel-gutter)
                                / $structure_panels) !default;
