<nav class="list">
    <h1>API</h1>
    <ul>
        <li><a href="#API">Overview</a></li>
        <li><a href="#API/Planned">Coming Soon</a></li>
    </ul>
    <h1>Base</h1>
    <ul>
        <li><a href="#API/Structure">Structure</a></li>
        <li><a href="#API/Color">Color</a></li>
        <li><a href="#API/Block">Block</a></li>
        <li><a href="#API/Type">Type</a></li>
        <li><a href="#API/Visibility">Block</a></li>
    </ul>
    <h1>Entities</h1>
    <ul>
        <li><a href="#API/Button">Button</a></li>
        <li><a href="#API/Form">Form</a></li>
        <li><a href="#API/Message">Message</a></li>
        <li><a href="#API/Nav/Bar">Nav Bar</a></li>
        <li><a href="#API/Nav/List">Nav List</a></li>
        <li><a href="#API/Badge">Badge</a></li>
        <li><a href="#API/Blockquote">Blockquote</a></li>
        <li><a href="#API/List">List</a></li>
        <li><a href="#API/Table">Table</a></li>
        <li><a href="#API/Img/Icon">Icons</a></li>
    </ul>
</nav>