<nav class="list">
    <h1>API</h1>
    <ul>
        <li><a href="#API">Overview</a></li>
        <li><a href="#API/Planned">Coming Soon</a></li>
    </ul>
    <h1>Base</h1>
    <ul>
        <li><a href="#API/Base/Structure">Structure</a></li>
        <li><a href="#API/Base/Color">Color</a></li>
        <li><a href="#API/Base/Block">Block</a></li>
        <li><a href="#API/Base/Type">Type</a></li>
        <li><a href="#API/Base/Visibility">Visibility</a></li>
    </ul>
    <h1>Entities</h1>
    <ul>
        <li><a href="#API/Entity/Button">Button</a></li>
        <li><a href="#API/Entity/Form">Form</a></li>
        <li><a href="#API/Entity/Message">Message</a></li>
        <li><a href="#API/Entity/Nav/Bar">Nav Bar</a></li>
        <li><a href="#API/Entity/Nav/List">Nav List</a></li>
        <li><a href="#API/Entity/Badge">Badge</a></li>
        <li><a href="#API/Entity/Blockquote">Blockquote</a></li>
        <li><a href="#API/Entity/List">List</a></li>
        <li><a href="#API/Entity/Table">Table</a></li>
    </ul>
    <h1>Advanced</h1>
    <ul>
        <li><a href="#API/Modules">Modules List</a></li>
        <li><a href="#API/Variables">Variables List</a></li>
        <li><a href="#API/Classes">Classes List</a></li>
    </ul>
</nav>