<nav class="list">
    <h1>Configuration</h1>
    <ul>
        <li><a href="#Configuration">Overview</a></li>
        <li><a href="#Configuration/Environment">Environment</a></li>
        <li><a href="#Configuration/Compiler">Compiler Tasks</a></li>
    </ul>
    <h1>SASS Variables</h1>
    <ul>
        <li><a href="#Configuration/SASS/Breakpoint">Breakpoint</a></li>
        <li><a href="#Configuration/SASS/Structure">Structure</a></li>
        <li><a href="#Configuration/SASS/Type">Type</a></li>
        <li><a href="#Configuration/SASS/Color">Color</a></li>
        <li><a href="#Configuration/SASS/Form">Form</a></li>
        <li><a href="#Configuration/SASS/Table">Table</a></li>
    </ul>
    <h1>Compiler</h1>
    <ul>
        <li><a href="#Configuration/Compiler/Components">Components</a></li>
        <li><a href="#Configuration/Compiler/Build">Build Output</a></li>
        <li><a href="#Configuration/Compiler/Sources">Source Locations</a></li>
        <li><a href="#Configuration/Compiler/Advanced">Advanced</a></li>
    </ul>
</nav>