<nav class="list">
    <h1>Development</h1>
    <ul>
        <li><a href="#Core">Overview</a></li>
    </ul>
    <h1>Architecture</h1>
    <ul>
        <li><a href="#Core/Architecture/Terminology">Terminology</a></li>
        <li><a href="#Core/Architecture/Build">Build Process</a></li>
        <li><a href="#Core/Architecture/Module">Adding a Module</a></li>
        <li><a href="#Core/Architecture/Package">Adding a Package</a></li>
        <li><a href="#Core/Architecture/Adapter">Create an Adapter</a></li>
    </ul>
    <h1>Contribute</h1>
    <ul>
        <li><a href="#Core/Contribute/Model">Contribution Model</a></li>
        <li><a href="#Core/Contribute/Submit">Submission Process</a></li>
        <li><a href="#Core/Contribute/Documentation">Creating Documentation</a></li>
    </ul>
</nav>