<nav class="list">
    <h1>Development</h1>
    <ul>
        <li><a href="#Development">Overview</a></li>
    </ul>
    <h1>Architecture</h1>
    <ul>
        <li><a href="#Development/Architecture/Terminology">Terminology</a></li>
        <li><a href="#Development/Architecture/Build">Build Process</a></li>
        <li><a href="#Development/Architecture/Package">Adding a Package</a></li>
        <li><a href="#Development/Architecture/Adapter">Create an Adapter</a></li>
    </ul>
    <h1>Contribute</h1>
    <ul>
        <li><a href="#Development/Contribute/Model">Contribution Model</a></li>
        <li><a href="#Development/Contribute/Submit">Submission Process</a></li>
    </ul>
</nav>