<nav class="list">
    <h1>Recipes</h1>
    <ul>
        <li><a href="#Recipes">Overview</a></li>
    </ul>
    <h1>Integration</h1>
    <ul>
        <li><a href="#Recipes/Integration/Use">Use Directly</a></li>
        <li><a href="#Recipes/Integration/Fork">Use as Fork</a></li>
        <li><a href="#Recipes/Integration/Submodule">Use as Submodule</a></li>
    </ul>
    <h1>Layouts</h1>
    <ul>
        <li><a href="#Recipes/Layout/Basic">Basic</a></li>
        <li><a href="#Recipes/Layout/Collapse">Collapse</a></li>
        <li><a href="#Recipes/Layout/Visibility">Visibility</a></li>
    </ul>
    <h1>Elements</h1>
    <ul>
        <li><a href="#Recipes/Element/Color">Color Anything</a></li>
    </ul>
</nav>