<nav class="list">
    <h1>Recipes</h1>
    <ul>
        <li><a href="#Recipe">Overview</a></li>
    </ul>
    <h1>Integration</h1>
    <ul>
        <li><a href="#Recipe/Integration/Use">Use Directly</a></li>
        <li><a href="#Recipe/Integration/Fork">Use as Fork</a></li>
        <li><a href="#Recipe/Integration/Submodule">Use as Submodule</a></li>
    </ul>
    <h1>Layouts</h1>
    <ul>
        <li><a href="#Recipe/Layout/Basic">Basic</a></li>
        <li><a href="#Recipe/Layout/Collapse">Collapse</a></li>
        <li><a href="#Recipe/Layout/Visibility">Visibility</a></li>
    </ul>
    <h1>Elements</h1>
    <ul>
        <li><a href="#Recipe/Element/Color">Color Anything</a></li>
    </ul>
</nav>