@import "compass";

@mixin -base-color-branding-default-background-light {
    
    color: $color-branding-default-background-light-text;
    background-color: $color-branding-default-background-light-shadow;
    border-color: $color-branding-default-light-border;
    text-shadow: $color-branding-default-background-light-text-shadow;
    
}

@mixin -base-color-branding-primary-background-light {
    
    color: $color-branding-primary-background-light-text;
    background-color: $color-branding-primary-background-light-shadow;
    border-color: $color-branding-primary-light-border;
    text-shadow: $color-branding-primary-background-light-text-shadow;
    
}

@mixin -base-color-branding-secondary-background-light {
    
    color: $color-branding-secondary-background-light-text;
    background-color: $color-branding-secondary-background-light-shadow;
    border-color: $color-branding-secondary-light-border;
    text-shadow: $color-branding-secondary-background-light-text-shadow;
    
}

@mixin -base-color-branding-tertiary-background-light {
    
    color: $color-branding-tertiary-background-light-text;
    background-color: $color-branding-tertiary-background-light-shadow;
    border-color: $color-branding-tertiary-light-border;
    text-shadow: $color-branding-tertiary-background-light-text-shadow;
    
}

@mixin -base-color-branding-neutral-background-light {
    
    color: $color-branding-neutral-background-light-text;
    background-color: $color-branding-neutral-background-light-shadow;
    border-color: $color-branding-neutral-border;
    text-shadow: $color-branding-neutral-background-light-text-shadow;
    
}
