<h2>Compatibility</h2>

<p>This namespace includes libraries which improve cross-browser compatibility.</p>

<h3>IE7 Compatibility</h3>

<p>These modules are loaded into the <code>blocks-ie.css</code> build file and targeted at IE7 specifically:</p>

<ul class="modules">
    <li><%= DOC.modules.render('Compatibility/Image/Scaling') %></li>
</ul>